<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <title></title>
  </head>
  <body>
    <section id = "container">
        <section id="cover" class="text-primary panel background cover overflow-hidden">
          <header class="text-gray-700 body-font">
              <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a class="flex items-center mb-4 md:mb-0">
                  <img class="w-1/6 -mt-2" src="../public/img/vinci-logo.png" alt="">
                </a>
                <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center text-primary text-lg font-semibold">
                  <a class="mr-5 hover:text-gray-900">About</a>
                  <a class="mr-5 hover:text-gray-900">Solutions</a>
                  <a class="mr-5 hover:text-gray-900">Partners</a>
                  <a class="mr-5 hover:text-gray-900">Careers</a>
                  <a class="mr-5 hover:text-gray-900">Blogs</a>
                  <a class="mr-5 hover:text-gray-900">Contact</a>
                </nav>
              </div>
          </header>
         <!-- <nav class="w-screen flex justify-between relative z-10 sm:p-4 lg:p-4">
        <a href="#">
          <img class="max-w-xs h-16 sm:w-40 sm:h-auto sm:my-3" src="../public/assets/figma-imgs/vinci-logo.png" alt="vinci logo">
        </a>
        <div class="px-4 cursor-pointer mx-5 my-3 md:hidden">
          <svg class="w-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </div>
        <ul class="flex justify-between sm:hidden md:flex md:text-sm lg:text-l lg:mx-20">
          <a href="/about">
            <li class="uppercase hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
          </a>
          <a href="/products">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Products</li>
          </a>
          <a href="partners">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
          </a>
          <a href="/blog">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
          </a>
          <a href="/careers">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
          </a>
          <a href="/contact">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
          </a>
        </ul>
        </nav> -->
          <hr class="-mt-4">
          <h1 class="text-4xl text-center tracking-wider p-4 mt-40">ABOUT</h1>
          <hr class="coverHr w-1/3 center mx-auto">
          <div class="tracking-widest text-center p-4">
            <p>Learn more about VINCI's</p>
            <p>mission, origin and teams</p>
          </div>
       </section>
       <section class="flex mb-4 panel background first">
          <div class="ml-12 mt-6 p-6 pt-20 w-1/2">
              <h2 class ="text-primary font-semibold text-3xl text-left tracking-wider">
                  A Note From VINCI
              </h2>
              <hr class="mt-4">
              <p class="text-primary text-left mt-6 tracking-widest leading-8">
                Virtual Reality is one of the greatest communication and knowledge transfer
                tools ever invented. But before its benefits can be fully realized,
                the barrier to create simulations must be overcome.
                <br> <br>
                VINCI creates tools to lower the complexity, knowledge, and cost needed
                to create and manage Virtual Reality simulations. Through our innovations,
                we will enable a new generation of thinkers, creators, and instructors
                to create their own.
               </p>
          </div>
          <div class="w-1/2 pt-12 ml-10 mt-16">
              <img src="../public/img/backshadow.png" alt="">
          </div>
      </section>

      <section class="flex pb-6 mb-4 text-primary panel background second">
        <div class="w-3/5 ml-12 mt-6 p-6 pt-14">
          <h2 class="text-left font-semibold text-3xl"> Origins </h2>
          <hr class="mt-4">
          <p class="pb-4 text-primary text-left mt-6 tracking-widest leading-6 ">600 years ago, Leonardo da Vinci was filling the pages of his CODEX notebooks with fascinating observations and inventions such as the human brain and optics.
          <br><br>
          Vinci's world was not only brilliant, but was also well documented; highly detailed sketches accompanied diagrams and astute observations. Read the CODEX Leicester here.VINCI creates tools to lower the complexity, knowledge, and cost needed to create and manage Virtual Reality simulations. Through our innovations, we will enable a new generation of thinkers, creators, and instructors to create their own.
          <br><br>
          Vinci is fascinating because of his ability to share complex worlds with such detail and realism; CODEX's ability to perfectly capture new worlds is unparalleled.
          <br><br>
          Inspired by Vinci, we at VINCI aim to transform the way we communicate and educate the world through a new medium: Virtual Reality.
          </p>
        </div>
        <div class="w-2/3 pt-12 ml-32 mt-16">
          <img class="" src="../public/img/LEO.jpg" alt="picture of davinci">
        </div>
      </section>

      <section class=" mb-4 text-primary panel background">
        <section class="text-gray-700 body-font">
              <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-primary">Our Team</h1>
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
                </div>
                <div class="flex flex-wrap -m-2">
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../public/img/eagle.jpg">
                      <div class="flex-grow">
                        <h2 class="text-primary title-font font-medium">Eagle Wu</h2>
                        <p class="text-third">Business Dev</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../public/img/tim.jpeg">
                      <div class="flex-grow">
                        <h2 class="text-primary title-font font-medium">Tim Clancy</h2>
                        <p class="text-third">Engineer</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../public/img/liam.jpg">
                      <div class="flex-grow">
                        <h2 class="text-primary title-font font-medium">john doe</h2>
                        <p class="text-third">blank</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../public/img/matt.jpg">
                      <div class="flex-grow">
                        <h2 class="text-primary title-font font-medium">John Doe</h2>
                        <p class="text-third">blank</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../public/img/img1.jpg">
                      <div class="flex-grow">
                        <h2 class="text-primary title-font font-medium">john doe</h2>
                        <p class="text-third">blank</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="../public/img/tim.jpeg">
                      <div class="flex-grow">
                        <h2 class="text-primary title-font font-medium">john doe</h2>
                        <p class="text-third">blank</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </section>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script src ="../src/js/about.js"></script>

  </body>


</html>
