<html>

<head>
	<!-- <link href="/css/newindex.css" rel="stylesheet" type="text/css" media="all" /> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/set1.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/blog.css"/>
	<link rel="stylesheet" href="../public/css/modalcss.css">
	<link rel="stylesheet" href="../public/js/bootstrap.js">


	<script src="../public/js/download.js"></script>
	<script src="../public/js/FileSaver.js"></script>
	<link rel="stylesheet" href="../public/css/output-styles.css">

</head>

<body id = "newindex">

	<!--==================
	 NAV SECTION
	==================-->
	<style media="screen">
		h1, h2, h3, h4, h5, h6 {
			font-family: "Montserrat", sans-serif !important;
		}

		body, p, ul, li {
			font-family: "Spectral", serif !important;
		}
	</style>

	<header class="text-gray-700 body-font">
			<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
				<a href="/" class="flex items-center mb-4 md:mb-0  z-10">
					<img class="w-1/6 -mt-2" src="../public/img/vinci-logo.png" alt="">
				</a>
				<nav class="md:ml-auto flex flex-wrap items-center z-10 text-base justify-center text-primary text-lg font-semibold">
					<a href="/about" class="mr-5 hover:text-gray-900 hover:bg-gray-100">About</a>
					<a href="/services" class="mr-5 hover:text-gray-900 hover:bg-gray-100">Solutions</a>
					<a href="/partners" class="mr-5 hover:text-gray-900 hover:bg-gray-100">Partners</a>
					<a href="/careers" class="mr-5 hover:text-gray-900 hover:bg-gray-100">Careers</a>
					<a href="/blogs" class="mr-5 hover:text-gray-900 hover:bg-gray-100">Blogs</a>
					<a href="/contact" class="mr-5 hover:text-gray-900 hover:bg-gray-100">Contact</a>
				</nav>
			</div>
	</header>
	<hr class="-mt-4">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100054313-1', 'auto');
	  ga('send', 'pageview');
	</script>


	<div class="main-container">

		<style media="screen">

		</style>

		<section class="cover fullscreen image-bg parallax slider-10-1485812436050" style="height: auto; background: #ffffff !important; opacity: 1 !important">
			<div class="container p-4 mx-auto">
		                <div class="row">
                            <div class="blog_header flex">
		                    <div class="col-md-6">
                                <h2 class="blog_title">Types and Applications of Different XR Tech</h2>
                                <h4 class="blog_title_subtext">XR, or extended  tech, will transform how humans interact with the physical and digtal world.</h4>
                                <h5 class="min_read">5 Min Read</h5>
                                <div class="profile">
                                    <div class="profile_pic" id="Ray_Lam"></div>
                                    <div class="name_date">
                                        <h4 class="blog_writer margin_bottom_none margin_right_none"> Written By Ray Lam</h4>
                                        <h4 class="blog_writer">8/7/2019</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                           </div>
                           <div class="col-md-6 w-1/2">
                                <img src="../public/img/Types_Blog_Img01.png">
                           </div>
                       	   </div>
													 <div class="downloadBlock">
														 <button type="button" class="btn btn-primary border-2 border-gray-200 p-4 m-4 hover:text-gray-100 hover:bg-gray-900" data-toggle="modal" data-target="#signup">
															 Download PDF
															</button>
															<br>
														<span class="min_read" style="text-align: center;">Read this article as a pdf.</span>
													</div>

                       	   <div class="clear"></div>

                       	    <div class="main_body">
                            <p class="main_paragraph margin_bottom_none">
                                Virtual Reality, Augmented Reality, and Mixed Reality are the different branches of the digital revolution of XR. XR stands for extended reality and the X is simply an algebraic plugin for expressing the different technologies. The new generation of XR technologies has enabled immersive capabilities to interact with digital environments never afforded before. But despite the similar naming scheme, there are substantial differences between each technology and what they can offer.

                            </p>


                           <br>
                            <h4 class="main_body_subtitle">Augmented Reality (AR)</h4>

                              <p class="main_paragraph">
                               AR adds digital elements to a live view often by using the camera on a smartphone. Examples of augmented reality experiences include Snapchat lenses and the game Pokemon Go. This means that AR is often used to enhance the connection between the user and their surroundings in a digitized way. Important to note: all information displayed is not anchored to the real world.
                           </p>

                           <br>
                            <h4 class="main_body_subtitle">Mixed Reality (MR)</h4>
                             <p class="main_paragraph">
                               MR combines elements of both AR and VR, where real-world and digital objects interact. Mixed technology is considered the newest of the 3 XR techs, with Microsoft’s HoloLens leading the industry in the field of MR. Information from the real and digital world blends, allowing users to interact with the physical world with digital feedback.
                           </p>
                            <br>
                            <h4 class="main_body_subtitle">Virtual Reality (VR)</h4>

                            <p class="main_paragraph">
                               VR is a completely immersive experience that places users into a new digital world. Using VR devices such as HTC Vive, Oculus Rift S or Steam’s Valve Index, users can be transported into a number of real-world simulations and imagined environments. VR is best used for storytelling, conveying experiences, or simulations.
                           </p>

                            <h2 class="main_body_title">Applications of XR Technologies</h2>


                           <h4 class="main_body_subtitle">AR</h4>

                           <p class="main_paragraph">
                           		AR is best for adding a digital overlay over a camera interface or directly over the human eye through eyewear. Because of AR’s ability to display information over real-life objects or locations, it’s best used to enhance the information users see about their surroundings. There are some use cases on the consumer level for gaming, like the famous game Pokemon Go that took the world by a storm in 2016, but because of the current limitations of AR, it's used mostly as a professional tool.
                           		<br><br>
AR can often be found in industries that require detailed information at a moments notice that cannot be shown through other conventional displays or require the user to see information directly over their project. For example, the medical field has begun extensive testing using AR to visualize human bodies for medical students to see on an operating table for a 3D visual approach in learning anatomy. In the future, if AR gets cleared for surgical use cases, surgeons could use it to see information about patients on an overlay display while operating, leading to higher success rates. Other fields that AR has begun to see usage in include warehouse management, manufacturing, retail storefront management, business logistics, and education.


                           </p>
                           <center>
                           <div class="blog_image" id="Blog_Types_Img2">
                               </div>
                           </center>

                           <h4 class="main_body_subtitle">MR</h4>
                           <p class="main_paragraph">
                           	MR is a combination of VR and AR elements, with users being able to interact with digital objects grounded in reality in real-time. In simpler terms, there are now overlays displayed in reality (like in AR) but is interactable (like in VR). MR is the most difficult to program and design for of the three XR technologies, but its blending of real and virtual worlds holds immense promise. At the forefront of MR development is Microsoft, who released the 2nd generation of their HoloLens MR earlier this year. Microsoft has realized the potential of the HoloLens and is maximizing the impact of its initial introduction by focusing heavily on industrial and enterprise-level development for this 2nd iteration.
							<br><br>
 	Auto Desk has been collaborating with Microsoft to develop platforms where 3D models can be viewed and edited in MR before finalizing or printing a 3D model. The ability to be able to see a model on a 1:1 scale in 3D as it’s being edited will help all aspects of constructing 3D models immensely. Once there is a more wide-scale implementation across industries and use cases, MR is positioned to transform the digital world.
                           </p>

                           <h4 class="main_body_subtitle">VR</h4>

                            <p class="main_paragraph">
                               VR excels in transporting the user into a different world and experience as it shuts out the physical world, thus its best for applications where users need to experience the world or simulation in an isolated environment. This means the user can be transported into any realistic and fantastical world. This makes it an excellent device for gaming purposes, which is reflected in Viar360’s report that in 2018, 42% of all VR software revenue was accounted by gaming development alone and more than 700,000 Playstation VR headset were sold in Q4 2018.
                               <br><br>
  Businesses have also begun to consider VR as a viable solution to their needs whether its in fields of design, communication, training or more. According to Business Insider Intelligence, “enterprise VR hardware and software revenue to jump 587% to $5.5 billion in 2023, up from an estimated $800 million in 2018”. Enterprises like Walmart and UPS have begun using VR to train employees on customer service, while companies like Virtualitics uses VR to virtually display AI integrated BigData in creative ways.



                           </p>


                           <h4 class="main_body_subtitle">Learn More</h4>
                           <ul class="more_links">
                               <li>Virtual Reality is Saving Companies Millions <a href="/blogs-VR-Saving-Millions" target="_blank">(link here)</a></li>
                               <li>How VR is changing Corporate Training <a href="/blogs-VR-Training-Cases" target="_blank">(link Here)</a></li>
                               <li>Visual Representation explaining each XR tech <a href="https://www.visualcapitalist.com/extended-reality-xr/" target="_blank">(link here)</a></li>
                               <li>3 min read to learn more about XR tech <a href="https://medium.com/@northof41/what-really-is-the-difference-between-ar-mr-vr-xr-35bed1da1a4e">(link here)</a></li>
                           </ul>
                        </div>


                        </div>
                    </div>

		</section>
    <!-- Modal -->
                                <div class="modal fade text-secondary" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Download a PDF of our VR Guide</h5>
                                        <button class="border-2 border-gray-200 p-4 m-4 hover:text-gray-900 hover:bg-gray-100 float-right" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body" style="padding-top: 0;">

                                          <div class="form-row">
                                            <div class="form-group col-md-12">
                                            <label class=" text-secondary">Enter your email to download our intro to VR/XR training guide.</label>
                                              <h5 class=" text-secondary" style="color: red; display: none; margin-bottom: 0;" id="check">Please Enter a valid email address.</h5>
                                              <input type="email" class="form-control email_input" id="inputEmail" placeholder="Email">
                                              <br>
                                              <h4 style="color: black; display: none;" id="thankyou">Thank you!</h4>


                                            </div>
                                        </div>


                                      </div>
                                      <div class="modal-footer text-secondary" style="border-top: 0px">
                                        <button type="button" class="btn btn-secondary border-2 border-gray-200 p-4 m-4 hover:text-gray-900 hover:bg-gray-100" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary border-2 border-gray-200 p-4 m-4 hover:text-gray-900 hover:bg-gray-100" id="download">Download</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

	</div>
</body>
</html>
