<html>

<head>
	<link href="/css/newindex.css" rel="stylesheet" type="text/css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/set1.css" />
    <link rel="stylesheet" type="text/css" href="/css/blog.css"/>

    <style type="text/css">
        .navLink {
            color: #000000 !important;
        }
    </style>

    <script src="/js/download.js"></script>
</head>

<body id = "newindex">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100054313-1', 'auto');
	  ga('send', 'pageview');
	</script>

	
	<div class="main-container">

		<section class="cover fullscreen image-bg parallax slider-10-1485812436050" style="height: auto; background: #ffffff !important; opacity: 1 !important">

		            <div class="container">
		                <div class="row">
                            <div class="blog_header">
		                    <div class="col-md-6">
                                <h2 class="blog_title">Virtual Reality is Saving Companies Millions</h2>
                                <h4 class="blog_title_subtext">How a new age of education technology is having a major impact on training procedures.</h4>
                                <h5 class="min_read">8 MIN READ</h5>
                                <div class="profile">
                                    <div class="profile_pic" id="Dawson"></div>
                                    <div class="name_date">
                                        <h4 class="blog_writer margin_bottom_none margin_right_none"> Written By Dawson Goepferich</h4>
                                        <h4 class="blog_writer">8/7/2019</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="download">
                                    <h5 class="min_read" style="text-align: center;">Read this article as a pdf.</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup">
                                     Download PDF
                                    </button>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <img src="/img/Saving_Blog_Img01.jpg">

                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="main_body">
                            <p class="main_paragraph">
                               Employee education is vital to a company’s success, so when new technology makes training more effective and cost-efficient, industries take notice. In recent years, improvements in computing power and virtual reality software have culminated in more immersive environments with better interactive capabilities. The outcome is an industry that’s moving far beyond the gaming it’s known for. Today, many companies are utilizing virtual reality to train their employees in everything from customer relations to automobile manufacturing.
                            </p>

                            <h2 class="main_body_title">Benefits of Virtual Reality Training</h2>

                            <h4 class="main_body_subtitle">Lower Costs</h4>

                            <p class="main_paragraph">
                                Virtual reality training is popular for a number of reasons, but the most glaring is cost efficiency. According to the Association for Talent Development’s 2014 State of the Industry Report, organizations spend an average of $1,208 per employee on training and development. For companies with fewer than 500 workers, that number is even higher, coming in at $1,888 per employee. <br><br> In short, most companies are spending over half a million dollars to train their workers each year. For companies that require physical simulators this cost is far higher. Physical training equipment (think flight simulators) can cost a company north of $5 million. These fixed training devices (FTDs) are difficult to update as technology continues to evolve, and in many cases the entire FTD must be replaced. <br><br> This is where VR can have a meaningful and immediate impact on industry. When compared to physical options, virtual reality simulations can achieve the same level of education at a tenth of the cost. Additionally, virtual environments are inherently easier and less expensive to update or replace, and the equipment used for VR training is commercially available and relatively inexpensive. VR systems also require minimal storage and upkeep compared to FTDs. <br><br>Furthermore, VR has the potential to decrease training time. Some studies suggest companies are spending at least 30 hours per year training employees, which is time that could be spent on the job. Major factors for the long training time is travel time and equipment shortages; however, VR reduces the need for travel by virtually connecting people anywhere in the globe and replaces physical equipment with immersive digital ones.
                            </p>

                             <h4 class="main_body_subtitle">Risk-minimization</h4>

                             <p class="main_paragraph">In certain professions, like construction or areas of the energy industry, there is immense risk involved in hands-on training. In order to operate a crane or work on an oil rig, workers must go through extensive safety and situational training on this equipment. When it comes to this kind of training, there is a tradeoff between the safety of the training and the time it takes to train someone. Moving a subject at a slower rate decreases the likelihood of dangerous accidents, but increases the cost of the training.
 <br><br>Virtual reality, however, can offer similar hands-on training in a 100% risk-free environment. This keeps the workers safe while allowing them to make mistakes that would be harmful in the real world—a process that enables students to train faster by learning from their errors. <br><br> Additionally, better initial training prevents workplace accidents and injuries beyond that of the training field. According to InjuryFacts.Org, in 2017 the total cost of workplace injuries was $161.5 billion dollars and aggregate lost time was 104,000,000 days in the United States. Implementing VR could lower this rate of injury, boosting worker productivity and saving millions.</p>

                             <center>
                             <div class="blog_image" id="Blog_Saving_Img2">
                             </div>
                            </center>

                             <h4 class="main_body_subtitle">Better Retention - <span class="non_bold">Company training programs fail for several reasons:</span></h4>
                        

                            <div class="bullet_list">
                                <ul class="list">
                                    <li><span class="boldSansation">Lack of time -</span><span class="italic">Training programs may be too time-consuming for employees to complete and stay on top of their work.</span></li>
                                    
                                    <li><span class="boldSansation">Incomplete training materials -</span><span class="italic">Companies may not have a full understanding of what objectives need to be taught to employees.</span></li>
                                    
                                    <li><span class="boldSansation">Undefined or poorly defined expectations—</span><span class="italic">Companies may know what they want to teach but they may not have a clear understanding of what constitutes an employee successfully learning the material.</span></li>
                                    
                                    <li><span class="boldSansation">Boring materials—</span><span class="italic">The materials don’t encourage participation or are overly generic.</span></li>
                                </ul>
                            </div>

                            <p class="main_paragraph">Virtual reality provides a solution to all of these barriers to success. The technology helps companies increase employees’ familiarization with and awareness in the work environment, while also identifying any areas of concern. VR can also improve efficiency by achieving more training in the same amount of time. For participants discouraged by boring materials, VR still remains a new and exciting experience for most people. The opportunity to enjoy new technology generally gets people excited regardless of the context, and the nature of VR means most training software feels more like playing a game than taking a safety course.
                                <br> <br>
                            VR can also prove useful in helping companies establish complete objectives and well-defined expectations. The solution here is inherent to the development process of the software. In order to build a VR training environment, a company must first establish what they want an employee to learn while in the environment. Additionally, the environment can be programmed to measure how well the employees are learning these objectives, and by using the software in this way, companies can establish benchmarks and expectations for what they expect from their employees.
                            </p>

                            <h2 class="main_body_title">Drawbacks</h2>
                            <p class="main_paragraph">It is important to note that virtual reality is not a direct substitute for all physical training procedures and equipment. While the technology is quickly advancing, there are still certain tasks that VR has trouble simulating—specifically, tasks that rely on a wide range of sensory feedback beyond sight and sound.
                            <br><br>
For example, engine work, which can often require a tremendous amount of touch feedback, would be hard to develop in a VR environment. However, the system could still be used to teach by letting someone pull the engine apart—similar to a 3D blueprint. While they may not be able to complete operations as though they are in a real shop, they can gain familiarity and better understanding of how the engine works. 
</p>
                            <center>
                            <div class="blog_image" id="Blog_Saving_Img3">
                             </div>
                         </center>

                         <p class="main_paragraph">Virtual reality is still a new and exciting area of technology, but don’t let that fool you, its capabilities are ready for real-world applications. The use-cases for VR are expanding, and the case of employee training is a significant sign of the impact this technology can have on our society.</p>

                         <h4 class="main_body_subtitle">Learn More</h4>

                           <ul class="more_links">
                               
                               <li>Types and Applications of Different XR Tech <a href="/blogs-Applications-XR" target="_blank">(link here)</a></li>
                               <li>How VR is changing Corporate Training <a href="/blogs-VR-Training-Cases" target="_blank">(link here)</a></li>
                               <li> A 3 minute read on types of VR training <a href="https://trainingindustry.com/articles/learning-technologies/using-virtual-reality-to-improve-employee-training/" target="_blank">(link here)</a>
                               </li>
                               <li> The cost of VR software in 2019 <a href="https://jasoren.com/how-much-does-a-virtual-reality-app-cost-in-2018/" target="_blank">(link here)</a>
                               </li>
                           </ul>

                        </div>
                           
                    </div>
                </div>
            </section>

              <!-- Modal -->
                                <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Download a PDF of our VR Guide</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body" style="padding-top: 0;">
                                        
                                          <div class="form-row">
                                            <div class="form-group col-md-12">
                                            <label style="color: black">Enter your email to download our intro to VR/XR training guide.</label>
                                              <h5 style="color: red; display: none; margin-bottom: 0;" id="check">Please Enter a valid email address.</h5>
                                              <input type="email" class="form-control email_input" id="inputEmail" placeholder="Email">
                                              <br>
                                              <h4 style="color: black; display: none;" id="thankyou">Thank you!</h4>
                                            

                                            </div>
                                        </div>
                                  

                                      </div>
                                      <div class="modal-footer" style="border-top: 0px">
                                        <button type="button" class="btn btn-secondary no-margin-bottom" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="download">Download</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
        </div>
    </body>
    </html>