<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/panels.css">
    <link rel="stylesheet" href="../public/css/careers.css">
    <title>Vinci VR</title>
  </head>
  <body class="text-primary bg-secondary font-serif">
    <section id="container">
      <section class="panel hero-img text-2xl">

        <!--==================
         NAV SECTION
        ==================-->

        <header class="text-gray-700 body-font ">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a href="/" class="flex items-center mb-4 md:mb-0">
                <img class="w-1/6 -mt-2" src="../public/img/vinci-logo.png" alt="">
              </a>
              <nav class="md:ml-auto lg:ml-auto flex flex-wrap items-center z-10 text-base justify-center text-primary text-lg font-semibold">
                <a href="/about" class="mr-5 hover:text-gray-900">About</a>
                <a href="/services" class="mr-5 hover:text-gray-900">Solutions</a>
                <a href="/partners" class="mr-5 hover:text-gray-900">Partners</a>
                <a href="/careers" class="mr-5 hover:text-gray-900">Careers</a>
                <a href="/blogs" class="mr-5 hover:text-gray-900">Blogs</a>
                <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
              </nav>
            </div>
        </header>
        <hr class="-mt-4">


        <!--===================
         HERO SECTION CONTENTS
        =====================-->
        <!-- <section class="contents mt-24 w-full p-4 absolute">
       -->
       <section class="hero-text w-full p-4 absolute z-1 sm:mt-32 md:mt-40">
            <!-- <div class="overlay w-full h-screen" style="position:absolute; top:0; left:0;  min-width:100%; min-height:100vh; background-color:rgba(0,0,0,0.2); z-index:0;"></div> -->
            <hr class="mt-4 w-1/3 mx-auto p-2">
            <h1 class="text-center uppercase font-sans font-black -mb-20 -mt-6 p-4 sm:text-6xl md:text-5xl xlg:text-6xl">Careers
            </h1>
            <hr class="mt-20 w-1/3 mx-auto">
            <p class="text-center text-lg font-bold z-10">Join the VINCI team</p>
             <p class="down-arrow sm:text-6xl my-32 text-center">⌄</p>
            <!-- <img src="" alt=""> -->
        </section>
      </section>

      <!--==================
       CAREERS INFO SECTION
      ==================-->
      <section class="panel bg-secondary h-full">
        <section class="bg-secondary text-2xl sm:p-12 sm:mt-32 lg:mt-52 overflow-auto">
            <h1 class="text-4xl font-bold p-4">Join Our Team
              <hr class="mt-4 w-1/6 py-2 mb-20">
            </h1>

            <!-- <hr class="w-3/4" style="border-color:#7C7C7C;"> -->
            <section class="bg-secondary grid grid-cols-3 border">
              <h3 class="w-1/3 col-span-1">Position</h3>
              <h3 class="w-1/3 col-span-1">Type</h3>
              <h3 class="w-1/3 col-span-1">Location</h3>
              <details class="col-span-3 bg-secondary" closed>
                <summary>Business Development - Internship - Boston, MA</summary>
                <h4>Business Development Internship</h4>
                <p style="color:#7C7C7C;">
                  VINCI is looking to expand its presence and increase deal flow with its target industries.
                </p>
                <p style="color:#7C7C7C;">
                  A Business Development Analyst (BDA) will assist the Business Development (BD) team with researching key market and geopolitical conditions. Collected information will be used to grow VINCI's customer base while ensuring operations are adjusted accordingly.
                </p>
                <p style="color:#7C7C7C;">
                  In addition, the BDA will assist VINCI's team with writing responses to RFPs, in addition to budgeting, marketing, and other Business Development Activities.
                </p>

                <h4>Breakdown of responsibilities</h4>
                <ul class="resp">
                  <li style="color:#7C7C7C;">> Analyze and create reports on current market conditions and players within VINCI's industry segments</li>
                  <br>
                  <li style="color:#7C7C7C;"> > Write Responses to RFPs for target industries</li>
                  <br>
                  <li style="color:#7C7C7C;">> Update and manage the company's internal CRM tools (or create/use new CRM tools) to grow its base of leads</li>
                </ul>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
            </section>
        </section>
      </section>


      <section class="panel">
        <!--==================
         FOOTER/CONTACT SECTION
        ==================-->

        <section class="panel footer-text h-screen w-full">
          <section class="contents contact mt-20 p-8 pb-64">
            <h1 class="text-4xl font-black mb-20">Want to Learn More About VR Training?</h1>
            <a href="/blogs">
              <span class=" border p-2 bg-secondary text-primary text-2xl hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l lg:text-xl">Head over to Our Blogs to Learn more ></span>
            </a>
            <br>
            <br>
            <a href="/contact">
              <span class="border p-2 bg-secondary text-primary text-2xl hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l lg:text-xl">Or Reach Out to Us ></span>
            </a>
            <section class="flex">
              <footer class="footer">
                <ul class="p-6">
                  <a href="/about">
                    <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
                  </a>
                  <a href="/services">
                    <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Solutions</li>
                  </a>
                  <a href="/partners">
                    <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
                  </a>
                  <a href="/blogs">
                    <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
                  </a>
                  <a href="/careers">
                    <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
                  </a>
                  <a href="/contact">
                    <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
                  </a>
                </ul>
                </footer>
                <section class="footer-logos w-1/3 mx-32 absolute bottom-0 mb-20 right-0">
                  <div class="small-logos flex justify-end">
                    <img class="mx-12" src="../public/img/twitter.png" alt="">
                    <img src="../public/img/linkedin.png" alt="">
                  </div>
                  <img src="../public/img/vinci-logo.png" alt="">
                </section>
            </section>
          </section>

        </section>
      </section>

    </section>

<!-- ===============
    SCRIPTS
=================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
        <script src ="../public/js/about.js"></script>
  </body>
</html>
