<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/panels.css">
    <link rel="stylesheet" href="../public/css/careers.css">
    <title>Vinci VR</title>
  </head>
  <body class="text-primary bg-secondary">
    <section id="container">
      <section class="panel hero-img text-2xl">

        <!--==================
         NAV SECTION
        ==================-->
        <nav class="w-screen flex justify-between relative z-10 border-b sm:p-4 lg:p-4">
          <a href="./index.html">
            <img class="max-w-xs h-16 sm:w-40 sm:h-auto sm:my-3" src="../public/assets/figma-imgs/vinci-logo.png" alt="vinci logo">
          </a>
          <div class="px-4 cursor-pointer mx-5 my-3 md:hidden">
            <svg class="w-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </div>
          <ul class="flex justify-between sm:hidden md:flex md:text-sm lg:text-xl lg:mx-32">
            <a href="./about.html">
              <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
            </a>
            <a href="./products.html">
              <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Products</li>
            </a>
            <a href="./partners.html">
              <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
            </a>
            <a href="./blog.html">
              <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
            </a>
            <a href="./careers.html">
              <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
            </a>
            <a href="./contact.html">
              <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
            </a>
          </ul>
        </nav>

        <!--===================
         HERO SECTION CONTENTS
        =====================-->
        <section class="contents mt-64">
            <h1 class="text-5xl font-sans font-black uppercase">Careers</h1>
            <p class="text-lg font-bold">Join the VINCI team</p>
            <!-- <img src="" alt=""> -->
        </section>
      </section>

      <!--==================
       CAREERS INFO SECTION
      ==================-->
      <section class="panel">
        <section class="contents mt-64 text-2xl">
            <h1 class="text-4xl font-bold p-4">Join Our Team</h1>
            <hr class="w-3/4" style="border-color:#7C7C7C;">
            <section class="grid grid-cols-3 border w-3/4">
              <h3 class="w-1/3 col-span-1">Position</h3>
              <h3 class="w-1/3 col-span-1">Type</h3>
              <h3 class="w-1/3 col-span-1">Location</h3>
              <details class="col-span-3 bg-secondary" closed>
                <summary>Business Development - Internship - Boston, MA</summary>
                <h4>Business Development Internship</h4>
                <p style="color:#7C7C7C;">
                  VINCI is looking to expand its presence and increase deal flow with its target industries.
                </p>
                <p style="color:#7C7C7C;">
                  A Business Development Analyst (BDA) will assist the Business Development (BD) team with researching key market and geopolitical conditions. Collected information will be used to grow VINCI's customer base while ensuring operations are adjusted accordingly.
                </p>
                <p style="color:#7C7C7C;">
                  In addition, the BDA will assist VINCI's team with writing responses to RFPs, in addition to budgeting, marketing, and other Business Development Activities.
                </p>

                <h4>Breakdown of responsibilities</h4>
                <ul class="resp">
                  <li style="color:#7C7C7C;">> Analyze and create reports on current market conditions and players within VINCI's industry segments</li>
                  <br>
                  <li style="color:#7C7C7C;"> > Write Responses to RFPs for target industries</li>
                  <br>
                  <li style="color:#7C7C7C;">> Update and manage the company's internal CRM tools (or create/use new CRM tools) to grow its base of leads</li>
                </ul>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
              <details class="col-span-3"  closed>
                <summary>N/A - Part Time - Boston, MA</summary>
              </details>
            </section>
        </section>
      </section>


      <section class="panel">
        <!--==================
         FOOTER/CONTACT SECTION
        ==================-->

        <section class="panel footer-text h-screen w-full">
          <section class="contents contact mt-64 p-8">
            <h1 class="text-4xl font-black mb-20">Want to Learn More About VR Training?</h1>
            <a href=./blogs.html"">
              <span class="my-64 border p-2 bg-primary text-secondary text-2xl">Head over to Our Blogs to Learn more ></span>
            </a>
            <br>
            <br>
            <a href="./contact.html">
              <span class="my-64 border bg-primary text-secondary text-2xl">Or Reach Out to Us ></span>
            </a>
          </section>
          <footer class="footer">
            <ul class="p-6">
              <a href="./about.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
              </a>
              <a href="./products.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Products</li>
              </a>
              <a href="./partners.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
              </a>
              <a href="./blog.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
              </a>
              <a href="./careers.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
              </a>
              <a href="./contact.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
              </a>
            </ul>
            </footer>
            <section class="footer-logos float-right -my-48 p-12">
              <div class="small-logos flex justify-end">
                <img class="mx-12" src="../public/assets/figma-imgs/twitter.png" alt="">
                <img src="../public/assets/figma-imgs/linkedin.png" alt="">
              </div>
              <img src="../public/assets/figma-imgs/vinci-logo.png" alt="">
            </section>
        </section>
      </section>

    </section>

<!-- ===============
    SCRIPTS
=================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
        <script type="text/javascript" src="../src/panels.js"></script>
  </body>
</html>
