<html>

<head>
	<link href="/css/newindex.css" rel="stylesheet" type="text/css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/set1.css" />

</head>

<body id = "newindex">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100054313-1', 'auto');
	  ga('send', 'pageview');
	</script>

	<div class="nav-container nav-transparent" style="min-height: 0 !important;">
        <nav id="barr" class="absolute transparent" style="margin-bottom: 0; margin-top: -8px; ">
         <div class="container-fluid" style="width: 100%; padding: 0px">
    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="container" style="width: 100%; padding: 0px">
			    <div class="col-md-12" style="border-bottom: solid 1px rgba(255, 255, 255, .4); height: 5em">
				    <div class="navbar-header" style="background-color: none">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				     
				     
				      <a class="navbar-brand logoText" href="/indexnew" style="margin-top: 15px; margin-bottom: 2px; padding-left: 0px; font-size: 1.3em !important">V I N C I</a>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 15px; color: #FFF !important">
				    
				      <ul class="nav navbar-nav navbar-right" style="color: #FFF !important; padding-right: 15px; margin-top: 10px">
				        <a href="/" class="navLink" style="color: #FFF">HOME</a>
				        <a href="/about" class="navLink" style="color: #FFF">ABOUT</a>
				        <a href="/services" class="navLink" style="color: #FFF">SERVICES</a>
				        <a href="/casestudies" class="navLink currentPage" style="color: #FFF">CASE STUDIES</a>
				        <a href="/contact" class="navLink" id = "myInnerLink" style="color: #FFF">CONTACT</a>
				        <a href="/login" class="navLink" id = "loginLink" style="color: #FFF">LOGIN</a>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				</div>
			</div>
		</div>
		</nav>
	</div>
	<div class="main-container">

		<section class="cover fullscreen image-bg overlay parallax slider-10-1487319147192" style="height: 100vh !important;">

           
                   
   		<div class="background-image-holder fadeIn" style="background: url(img/eric.JPG); background-size: cover; background-position: center;">
		</div>
		            <div class="container v-align-transform">
		                <div class="row">
		                    <div class="col-sm-12 text-center">
		                        
		                        <h2 class="sentence">CASE STUDIES
								</h2>
		                    </div>
		                    <div id = "block15"></div>
		                </div>
		                <p id="subtitle" style="font-size: 1.5em"> WHERE WE'VE BEEN</p>
		            </div>
		            
		
        </section class="text-7-1487319391275 parallax reveal" style="background-color: #202225;">
        

        	<h1 class="leftTitle" style="margin-top: 10%; margin-left: 10%;">USING VR TO IMPROVE SOLDIER TRAINING</h1>

        	<div class="container" style="margin-left: 13%; text-align: left;" id="fuuk">
        	<div class="col-md-4"><h4 class="fuckMe">CLIENT:</h4><h5 class="fuckMe2">US ARMY Natick Soldier Research, CABCS </h5></div>
        	<div class="col-md-4"><h4 class="fuckMe">PROJECT:</h4><h5 class="fuckMe2">VR Soldier Training</h5></div>
        	<div class="col-md-4"><h4 class="fuckMe">PLATFORM:</h4><h5 class="fuckMe2">HTC VIVE + LEAP MOTION</h5></div>

        	<p style="margin-left: 1%; margin-right: 10%">VINCI is collaborating with researchers at the US ARMY Natick Soldier Research Center to conduct ongoing VR-based training research projects. These projects are geared to improve soldier performance in a dynamic battlefield. </p>

        	<a href="http://www.nsrdec.army.mil/" target="_blank" style="margin-left: 1%; margin-right: 10%; text-decoration: underline;">Learn more about Natick Soldier Research </a>
        	</div>
        <section>
        	

        <section style="background-color: #202225; padding-top: 0;">
      

        	<h1 class="leftTitle" style="margin-top: 10%; margin-left: 10%;">USING VR TO ACCELERATE EARLY STAGE COMPANIES</h1>

        	<div class="container" style="margin-left: 13%; text-align: left;" id="fuuk">
        	<div class="col-md-4"><h4 class="fuckMe">CLIENT:</h4><h5 class="fuckMe2">MADE@MassChallenge</h5></div>
        	<div class="col-md-4"><h4 class="fuckMe">PROJECT:</h4><h5 class="fuckMe2">Various Applications</h5></div>
        	<div class="col-md-4"><h4 class="fuckMe">PLATFORM:</h4><h5 class="fuckMe2">HTC VIVE + LEAP MOTION + MOBILEVR</h5></div>

        	<p style="margin-left: 1%; margin-right: 10%">MassChallenge is a global accelerator with an excellent track record of graduating successful startups and/or startups that have gone on to raise serious funding. By partnering with Mass Challenge, VINCI gains access to all of the startups in the current cohort in need of our services, and we have since then signed on several more clients. Their individual case studies will be released soon. </p>

        	<a href="http://boston.masschallenge.org/" target="_blank" style="margin-left: 1%; margin-right: 10%; text-decoration: underline;">Learn more about MassChallenge</a>
        	</div>
        </section>



		<section id="footer">
        	<div class="col-md-3">
	        	COMPANY
	        	<div class="footer-listing">
	        		<a href="/about"><span class="footer-link">ABOUT</span></a>
	        		<br>
		        	<a href="/services"><span class="footer-link" >SERVICES</span></a>
		        	<br>
		        	<a href=""><span class="footer-link">BLOG</span></a>
	        	</div>
        	</div>
        	<div class="col-md-3">
        		OUR WORK
	        	<div class="footer-listing">
	        		<a href="/casestudies"><span class="footer-link">CASE STUDIES</span></a>
	        	</div>
        	</div>
        	<div class="col-md-3">
	        	SUPPORT
		        	<div class="footer-listing">
		        		<a href="/contact"><span class="footer-link">CONTACT US</span></a>
		        		<br>
			        	<a href="/terms"><span class="footer-link">TERMS OF SERVICE</span></a>
		        	</div>
        	</div>
        	<div id="social">
        		<a href="https://twitter.com/vinci_vr" target="_blank"><img src="/img/twitter-fav.png" class="social-icon"></a>
        		<a href="https://www.linkedin.com/company-beta/18005670"><img src="/img/linkedin-fav.png" class="social-icon"></a>
        	</div>
        </section>
	</div>

</body>

</html>