<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/contact.css">
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/mobile.css">
    <title>CONTACT</title>
  </head>
  <body class="font-serif">

    <style media="screen">
      body {
        width: 100vw !important;
        overflow-x: hidden;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif !important;
      }
    </style>
    <section id = "container">
      <div class="main-wrapper">
        <section id="cover" class="bg-center bg-cover text-primary lg:h-screen background cover overflow-hidden" style="background-image: url('../public/img/contact-hero-img.png')">
          <header class="text-gray-700 body-font ">
              <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a href="/" class="flex items-center mb-4 md:mb-0 lg:-mb-6 xl:-mb-8">
                  <img class="w-1/6 xl:w-1/4 lg:mt-2 xl:mt-2 -mt-2" src="../public/img/vinci-logo.png" alt="">
                </a>
                <nav class="md:ml-auto flex flex-wrap items-center z-10 text-base justify-center text-primary text-lg font-semibold xl:text-3xl">
                  <h5>
                    <a href="/about" class="mr-4 hover:text-gray-900">About</a>
                    <a href="/services" class="mr-4 hover:text-gray-900">Solutions</a>
                    <a href="/partners" class="mr-4 hover:text-gray-900">Partners</a>
                    <a href="/careers" class="mr-4 hover:text-gray-900">Careers</a>
                    <a href="/blogs" class="mr-4 hover:text-gray-900">Blogs</a>
                    <a href="/contact" class="mr-4 hover:text-gray-900">Contact</a>
                  </h5>
                </nav>
              </div>
          </header>
          <hr class="-mt-4">
          <h1 class="text-left tracking-wider p-4 mt-50 -mb-4 ml-50 sm:text-4xl md:text-4xl xl:text-5xl uppercase font-sans font-semibold lg:mt-48 xl:mt-72">CONTACT</h1>
          <div class="tracking-widest text-left xl:text-3xl p-4 ml-50 xl:mt-12">
            <p>Have any questions?</p>
            <p>Drop us a message.</p>
            <p>Book a demo.</p>
          </div>
         </section>


         <section class="px-16 bg-center bg-cover lg:mb-0 mb-4 lg:h-screen background first" style="background-image: url('../public/img/contact-bg.png')">
           <section class="text-gray-700 body-font relative">
             <div class=" container px-5 py-24 mx-auto flex sm:flex-no-wrap flex-wrap">
             <div class="bg-opacity-75 lg:w-2/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
              <h2 class="text-primary text-3xl mb-1 font-medium title-font text-left xl:text-4xl">Contact VINCI</h2>
                  <hr class="w-4/5 mb-8">
                   <input class="w-4/5 opacity-75 bg-white border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="Name" type="text">
                   <input class="w-4/5 opacity-75 bg-white border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 mt-2" placeholder="Email" type="email">

                   <textarea class="w-4/5 opacity-75 border focus:outline-none h-32 xl:h-48 xl:text-xl focus:border-indigo-500 text-base px-8 py-2 mb-4 mt-2 resize-none" placeholder="Message"></textarea>
                   <button class=" mt-2 w-1/3 text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg">send</button>
                   <p class="text-xs text-gray-500 mt-3"></p>
                 </div>

               <div class=" md:w-5/12 rounded-lg sm:mr-10 mt-24 flex -ml-20 object-cover">
                 <h2 class="text-primary text-xl text-thin text-left tracking-widest leading-10 xl:text-2xl xl:mt-10">Here at Vinci, we believe in making simulated training more efficient and accessible.
                  If you think this tool is right for your team, please reach out to schedule a call or a demo.</h2>
                 <img  class="" src="../public/img/placeholder.png" alt="">
                 <img  class="mt-20" src="../public/img/placeholder.png" alt="">
               </div>
             </div>
           </section>
       </section>

       <section class=" ">
         <section class="bg-secondary  ">
            <footer class="bg-secondary bg-bottom bg-cover text-primary body-font lg:mt-0 mt-24 p-4" style="background-image: url('../public/img/contactbckgrnd.png')">
              <h1 class ="text-primary text-center text-4xl font-sans lg:mt-12 xl:mt-12">Want to Learn More About VR Training?</h1>
              <div class="flex flex-col justify-center mt-32 xl:mt-40">
                 <a class="flex flex-col justify-center" href="/blogs">
                   <button class="w-1/4 mx-auto text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg xl:text-3xl">Check Out Our Blogs</button>
                 </a>
                 <p class="mx-auto text-Center text-2xl text-primary text-semibold">-or-</p>
                 <a class="flex flex-col justify-center" href="/contact">
                 <button class=" w-1/4 mx-auto text-white border-sloid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg xl:text-3xl">Reach Out To Us</button>
                 </a>
              </div>
              <div class=" container px-5 py-32 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
                <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                  <img class="-mt-2 xl:mt-20" src="../public/img/vinci-logo.png" alt="">
                </div>
                <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                  <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
                    <nav class="list-none mb-10 -mt-24 xl:text-xl xl:-mt-12">
                      <li>
                        <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/about">ABOUT</a>
                      </li>
                      <li>
                        <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/services">SOLUTIONS</a>
                      </li>
                      <li>
                        <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/partners">PARTNERS</a>
                      </li>
                      <li>
                        <a class="text-primary-600 hover:text-gray-800 cursor-pointer">CAREERS</a>
                      </li>
                      <li>
                        <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/blogs">BLOGS</a>
                      </li>
                      <li>
                        <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/contact">CONTACT</a>
                      </li>
                    </nav>
                  </div>
                </div>
              </div>
            </footer>
         </section>
       </section>
      </div>

      <!-- end of desktop main container -->


     <!-- beginning of main mobile view container -->
     <section class="mobile-main">
       <!--==================
        NAV SECTION
       ==================-->
       <section class="mobile-nav-test bg-red-100 z-10">
         <nav id="hamnav">
             <!-- [THE HAMBURGER] -->
             <a href="/" class="mt-2 z-10">
               <img class="w-1/3 p-4" src="../public/img/vinci-logo.png" alt="">
             </a>
             <label for="hamburger">&#9776;</label>
             <input type="checkbox" id="hamburger"/>

             <!-- [MENU ITEMS] -->
             <div id="hamitems">
               <br>
               <!-- <br>
               <br> -->
               <a href="/">Home</a>
               <a href="/about">About</a>
               <a href="/services">Solutions</a>
               <a href="/partners">Partners</a>
               <a href="/careers">Careers</a>
               <a href="/blogs">Blogs</a>
               <a href="/contact">Contact</a>
             </div>
           </nav>

           <style media="screen">
           /* [ON SMALL SCREENS] */
           @media screen and (max-width: 640px){
           /* [ON BIG SCREEN] */
             /* Wrapper */
             #hamnav {
             width: 100%;
             background: #191919;
             /* Optional */
             position: fixed;
             top: 0;
             right: 0;
             z-index: 100 !important;

             }

             label {
               position: absolute;
               top: 0;
               right: 0;
             }

             /* Hide Hamburger */
             #hamnav label, #hamburger { display: none; }

             /* Horizontal Menu Items */
             #hamitems { display: flex; }
             #hamitems a {
             width: 20%; /* 100% / 5 tabs = 20% */
             padding: 10px;
             color: white;
             text-decoration: none;
             text-align: center;
             }
             #hamitems a:hover {
             background: #401408;
             }


             /* Show Hamburger Icon */
             #hamnav label {
               display: inline-block;
               color: white;
               background: #811;
               font-style: normal;
               padding: 10px;
               font-size: 1.45rem;
               width:3.0rem;
             }

             /* Break down menu items into vertical */
             #hamitems a {
               box-sizing: border-box;
               display: block;
               width: 100%;
               border-top: 1px solid #333;
             }

             #hamitems a:last-child {
              border-bottom: 1px solid #333;
             }

             /* Toggle Show/Hide Menu */
             #hamitems { display: none; }
             #hamnav input:checked ~ #hamitems { display: block; }


             /* [DOES NOT MATTER] */
             html, body {
             padding: 0;
             margin: 0;
             font-family: arial, sans-serif;
             }
           }
           </style>
       </section>

       <section id="cover" class="bg-center bg-cover text-primary   background cover overflow-hidden" style="background-image: url('../public/img/contact-hero-img.png')">
         <header class="text-gray-700 body-font ">

             <!-- <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"> -->
               <!-- <a href="/" class="flex items-center mb-4 md:mb-0">
                 <img class="w-1/4 -mt-2" src="../public/img/vinci-logo.png" alt="">
               </a> -->
               <!-- <nav class="md:ml-auto flex flex-wrap items-center z-10 text-base justify-center text-primary text-lg font-semibold">
                 <a href="/about" class="mr-5 hover:text-gray-900">About</a>
                 <a href="/services" class="mr-5 hover:text-gray-900">Solutions</a>
                 <a href="/partners" class="mr-5 hover:text-gray-900">Partners</a>
                 <a href="/careers" class="mr-5 hover:text-gray-900">Careers</a>
                 <a href="/blogs" class="mr-5 hover:text-gray-900">Blogs</a>
                 <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
               </nav> -->
             </div>
         </header>
         <hr class="-mt-4">
         <h1 class="text-left tracking-wider p-4 mt-56 -mb-4 text-3xl font-sans font-semibold">CONTACT</h1>
         <div class="tracking-widest text-left p-4 mt-10">
           <p>Have any questions?</p>
           <p>Drop us a message.</p>
           <p>Book a demo.</p>
         </div>
        </section>

        <section class=" bg-center bg-covermb-4   background first" style="background-image: url('../public/img/contact-bg.png')">
          <section class="text-gray-700 body-font relative">
            <div class="container px-5 py-24 mx-auto flex sm:flex-no-wrap flex-wrap">
            <div class="bg-opacity-75 lg:w-2/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
                <h2 class="text-primary text-3xl mb-8 font-medium title-font text-center">Contact VINCI</h2>
                 <hr class="mx-auto w-4/5 mb-8">
                 <p class="text-primary text-lg text-center text-thin mb-8">
                   Here at Vinci, we believe in making simulated training more efficient and accessible.
                    If you think this tool is right for your team, please reach out to schedule a call or a demo.
                  </p>
                  <input class="w-11/12 opacity-75 mx-auto bg-white border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="Name" type="text">
                  <input class="w-11/12 opacity-75 mx-auto bg-white border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 mt-2" placeholder="Email" type="email">

                  <textarea class="w-11/12 opacity-75 mx-auto border focus:outline-none h-32 focus:border-indigo-500 text-base px-8 py-2 mb-4 mt-2 resize-none" placeholder="Message"></textarea>
                  <button class=" mx-auto mt-2 w-1/2 text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg">send</button>
                  <p class="text-xs text-gray-500 mt-3"></p>
                </div>

              <div class="lg:w-1/3 md:w-1/2 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-end ml-10 relative bg-content h-56 mt-32 object-cover">
                <h2></h2>
              </div>
            </div>
          </section>
      </section>

      <!-- - - - - - - - - Footer ---------------->
      <section class="bg-secondary  ">
         <footer class="bg-secondary bg-bottom bg-cover text-primary body-font mt-24 p-4" style="background-image: url('../public/img/contactbckgrnd.png')">
           <h1 class ="text-primary text-center sm:text-4xl text-3xl font-sans">Want to Learn More About VR Training?</h1>
           <div class="flex flex-col justify-center mt-24">
              <a class="flex flex-col justify-center" href="/blogs">
                <button class="w-2/3 md:w-1/5 mx-auto text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-sm">Check Out Our Blogs</button>
              </a>
              <p class="mx-auto text-Center text-2xl text-primary text-semibold">-or-</p>
              <a class="flex flex-col justify-center" href="/contact">
              <button class=" w-2/3 mx-auto text-white border-sloid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-sm">Reach Out To Us</button>
              </a>
           </div>
           <div class=" container px-5 py-32 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
             <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
               <img class="-mt-2" src="../public/img/vinci-logo.png" alt="">
             </div>
             <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
               <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                 <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
                 <nav class="list-none mb-10 -mt-24">
                   <li>
                     <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/about">ABOUT</a>
                   </li>
                   <li>
                     <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/services">SOLUTIONS</a>
                   </li>
                   <li>
                     <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/partners">PARTNERS</a>
                   </li>
                   <li>
                     <a class="text-primary-600 hover:text-gray-800 cursor-pointer">CAREERS</a>
                   </li>
                   <li>
                     <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/blogs">BLOGS</a>
                   </li>
                   <li>
                     <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/contact">CONTACT</a>
                   </li>
                 </nav>
               </div>
             </div>
           </div>
         </footer>
      </section>

     </section>   <!-- end of mobile container -->

    </section> <!-- end of   container -->

<!-- ===============
    SCRIPTS
=================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script src ="../public/js/contact.js"></script>
  </body>
</html>
