<html>

<head>
	<link href="/css/newindex.css" rel="stylesheet" type="text/css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/set1.css" />

</head>

<body id = "newindex">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100054313-1', 'auto');
	  ga('send', 'pageview');
	</script>

<div class="main-container">



         <section class="text-7-1487319391275 parallax reveal" style="background-color: #000000; padding-top: 3vh">


        	<div class="container" style="margin-left: 13%; text-align: left;" id="fuuk">
        	<div class="col-md-12">
						<br>
					<h1 style="text-align: left;">DBI Sala Fall Harness Trainer</h1>

       		 </div>

        	<div class="col-md-6">
        		<h1 style="text-align: left;"> Prototype Test and Feedback Kit</h1>
      			<h2 style="text-align: left;"><a target="_blank" href="https://www.dropbox.com/s/605v603jqsb07ez/%5B03.16.2020.2%5D%20Fall%20Harness.zip?dl=0" style="text-decoration: underline;">Download the App (Windows PC & Surface Tablets) > </a></h2>
						<h2 style="text-align: left;"><a target="_blank" href="https://www.dropbox.com/s/lr7lh8l1y69ue2j/%5B03.19.2020%5D%20Fall%20Harness%20Mac.zip?dl=0" style="text-decoration: underline;">Download the App (Macs and Mac Notebooks) > </a></h2>
						<h2 style="text-align: left;"><a target="_blank" href="https://forms.gle/55FEfm8mKGz5MEPj7" style="text-decoration: underline;">Complete Feedback Form Here > </a></h2>
						<h2 style="text-align: left;"> <span style="font-weight: 800; color: red">PLEASE WATCH THE TUTORIAL VIDEOS BEFORE USING THE APP</span></h2>
						<h2 style="text-align: left;"> <span style="font-weight: 600">V Scroll Down for Tutorials & Setup V</span></h2>
      			<h5 style="text-align: left; color: #FFFFFF">Questions? Contact: <br> Eagle Wu <br> Prototype Coordinator <br> ewu@vinci-vr.com</h5>
      		</div>
      		<div class="col-md-6">
      			<img src="img/Chris2.PNG">
      		</div>
<hr>
					<div class="col-md-12">
						<h1 style="text-align: left; padding-top:0;"> Walkthrough Tutorial</h1>
						<h5 style="text-align: left; color: #FFFFFF"><a target="_blank" style="text-decoration: underline;" href="https://youtu.be/Vxmia0YqBJA">Back Up Link ></a></h5>
						<center>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Vxmia0YqBJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</center>
					<h1 style="text-align: left;"> Defect Test Tutorial</h1>
					<h5 style="text-align: left; color: #FFFFFF"><a target="_blank" style="text-decoration: underline;" href="https://youtu.be/Y9Gu_LTkvXc">Back Up Link ></a></h5>
					<center>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Y9Gu_LTkvXc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</center>
					</div>
					<hr>
      		<div class="col-md-12">
						<h1 style="text-align: left; padding-top:0;"> Setup and Control Guides</h1>
      			<h2 style="text-align: left; font-weight: 800">Download and Setup Procedure: Windows</h2>
      			<span style="text-align: left;">
      			<h5 style=" color: #FFFFFF !important">1. Download the dropbox folder as a zip file (download button to the right of the "sign-in" button). </h5>
      			<h5 style=" color: #FFFFFF !important">2. Unzip the folder. Open the folder "[03.16.2020.2] Fall Harness"</h5>
      			<h5 style=" color: #FFFFFF !important">3. Double click the file "Fall Harness.exe". </h5>
      			<h5 style=" color: #FFFFFF !important">4. If you run into a Windows Security popup: "Windows protected your PC", click "More Info" and "Run anyway". <br> This is a standard Windows popup for new, unrecognized Executables. </h5>
      			<h5 style=" color: #FFFFFF !important">5. Select <span style="font-weight: 600">Resolution:</span> 1440x900, <span style="font-weight: 600">Graphics:</span> Beautiful, <span style="font-weight: 600"> Monitor:</span> Display 1, and <span style="text-decoration: underline">do not</span> select Windowed.</h5>
      			<h5 style=" color: #FFFFFF !important">6. It may take a minute to load on the first time. </h5>
      			</span>
      		</div>
					<hr>
					<div class="col-md-12">
      			<h2 style="text-align: left; font-weight: 800">Download and Setup Procedure: Mac</h2>
      			<span style="text-align: left;">
      			<h5 style=" color: #FFFFFF !important">1. Download the dropbox folder as a zip file (download button to the right of the "sign-in" button). </h5>
      			<h5 style=" color: #FFFFFF !important">2. Unzip the folder. Open the folder "[03.19.2020] Fall Harness Mac"</h5>
      			<h5 style=" color: #FFFFFF !important">3. Double click the file "FallHarnessMac". </h5>
      			<h5 style=" color: #FFFFFF !important">4. If you run into a Mac Security popup, open System Preferences and go to Security & Privacy. Select 'App Store and Identified Developers' under 'Allow apps downloaded from'. Click the lock icon to make changes.</h5>
      			<h5 style=" color: #FFFFFF !important">5. Select <span style="font-weight: 600">Resolution:</span> 1440x900, <span style="font-weight: 600">Graphics:</span> Good, <span style="font-weight: 600"> and <span style="text-decoration: underline">do not</span> select Windowed.</h5>
      			<h5 style=" color: #FFFFFF !important">6. It may take a minute to load on the first time. </h5>
      			</span>
      		</div>

      		<hr>
      		<div class="col-md-12">
      			<h2 style="text-align: left; font-weight: 800">Controls: Computer and Mouse</h2>
      			<span style="text-align: left;">
      			<h5 style=" color: #FFFFFF !important"> - Left click to select buttons. </h5>
      			<h5 style=" color: #FFFFFF !important"> - Hold left mouse button and drag mouse to rotate (if on rotate mode) or translate (if on translate mode) the 3D model. </h5>
      			<h5 style=" color: #FFFFFF !important"> - Double click anywhere on or near the model to reset the model view. </h5>
      			<h5 style=" color: #FFFFFF !important"> - Use the mouse scroll wheel to zoom in and out. </h5>
      			</span>
      		</div>
					<hr>
					<div class="col-md-12">
						<h2 style="text-align: left; font-weight: 800">Controls: Mac Notebook with Touchpad</h2>
						<span style="text-align: left;">
						<h5 style=" color: #FFFFFF !important"> - Tap once to select buttons. </h5>
						<h5 style=" color: #FFFFFF !important"> - Tap, hold, and drag across touchpad to rotate (if on rotate mode) or translate (if on translate mode) the 3D model. </h5>
						<h5 style=" color: #FFFFFF !important"> - Double tap anywhere on or near the model to reset the model view. </h5>
						<h5 style=" color: #FFFFFF !important"> - Move two fingers down the touchpad to zoom in, and up the touchpad to zoom out. </h5>
						</span>
					</div>
      		<hr>
      		<div class="col-md-12">
      			<h2 style="text-align: left; font-weight: 800">Controls: Tablet</h2>
      			<span style="text-align: left;">
      			<h5 style=" color: #FFFFFF !important"> - Tap once to select buttons</h5>
      			<h5 style=" color: #FFFFFF !important"> - Drag a finger across the screen to rotate around the center of the model (if on rotate mode) or translate (if on translate mode). </h5>
      			<h5 style=" color: #FFFFFF !important"> - Put two fingers on the screen and drag one finger across the screen while keeping the other stationary; this enables rotation around an axis (your stationary finger). </h5>
      			<h5 style=" color: #FFFFFF !important"> - Double tap anywhere on or near the model to reset the model view. </h5>
      			<h5 style=" color: #FFFFFF !important"> - Pinch your fingers out to zoom in. Pinch your fingers in to zoom out. </h5>
      			</span>
      		</div>

        	</div>

</section>




       </div>

 </body>
