<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/panels.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Vinci VR</title>
  </head>
  <body class="text-primary bg-secondary font-serif">
    <section id="container" class="main-wrapper overflow-x-hidden">

      <section class="panel">
        <section class="hero-section text-center h-screen w-full">
          <!--==================
           NAV SECTION
          ==================-->

          <nav class="w-screen flex justify-between relative z-10 border-b sm:p-4 lg:p-6">
            <a href="#">
              <img class="max-w-xs h-16 sm:w-40 sm:h-auto sm:my-3" src="../public/assets/figma-imgs/vinci-logo.png" alt="vinci logo">
            </a>
            <div class="px-4 cursor-pointer mx-5 my-3 md:hidden">
              <svg class="w-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </div>
            <ul class="flex justify-between sm:hidden md:flex md:text-sm lg:text-xl lg:mx-32">
              <a href="./about.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
              </a>
              <a href="./products.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Products</li>
              </a>
              <a href="./partners.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
              </a>
              <a href="./blog.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
              </a>
              <a href="./careers.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
              </a>
              <a href="./contact.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
              </a>
            </ul>
          </nav>


      <!--==================
       HERO SECTION
      ==================-->

          <div class="overlay w-full h-screen" style="position:absolute; top:0; left:0;  min-width:100%; min-height:100vh; background-color:rgba(0,0,0,0.3); z-index:0;"></div>
          <video class="bg-video object-cover overflow-hidden" autoplay muted loop style="position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index:-1;">
              <source src="../public/assets/video/background2.mp4" type="video/mp4">
          </video>
          <section class="hero-text w-full p-4 absolute z-1 sm:mt-16 md:-my-84">
            <h1 class="font-serif border-b sm:text-2xl md:text-4xl xlg:text-5xl"> PREPARE FOR THE REAL WORLD</h1>
            <br>
             <p class="font-sans font-black -mb-20 -mt-6 sm:text-4xl md:text-6xl"> WITH A WORLD OF YOUR OWN </p>
           <h3 class=" border-t pt-12 sm:text-2xl sm:my-16  lg:text-3xl"> Create, Analyze, and Train in <b class="bold">Virtual Reality</b></h3>
    ​
           <a id="learnMoreIntro" class="btn uppercase border p-4 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l lg:text-xl" href="/services">Learn about our services</a>
    ​
    ​       <p class="down-arrow sm:text-4xl my-4">⌄</p>
          </section>

          <img class="absolute bottom-0 left-0 z-10  sm:w-20" src="../public/assets/figma-imgs/line-guide.png" alt="styled guideline" class="guideline">
        </section>
      </section>

      <section class="panel">
        <!--==================
         INTRO SECTION
        ==================-->
          <section class="panel w-full h-screen sm:mx-4 lg:mx-20 lg:my-40 flex  sm:block md:flex">
            <section class="introTextBlock lg:w-9/12">
              <h1 class="text-4xl font-sans font-black border-b p-4 sm:text-center sm:w-11/12 lg:w-full lg:text-left">Codex: A New Way to Train in VR</h1>

              <p class="big w-1/2 text-xl text-gray-300 p-2 sm:text-center sm:w-11/12  sm:mb-12 lg:w-full lg:text-left lg:mb-32"> Effective training requires expensive equipment, generates potential safety hazards, and elongates training time. With Codex, teams can now improve their training by creating, training in and analyzing immersive VR simulations.
              </p>

              <a id="learnMore" class="btn uppercase border p-4 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l sm:ml-2 lg:text-xl lg:-ml-0 sm:block" style="width: 67%;" href="/services">
                <p class="text-center">LEARN MORE ABOUT CODEX</p>
              </a>
            </section>

            <aside class="vr-img w-2/6 sm:w-4/6 sm:mx-8 sm:my-8 md:float-left md:mr-20 lg:-mt-8">
        			<img src="../public/assets/figma-imgs/vr-goggles.png" alt="vr goggles" class="vr-goggles">
            </aside>
          </section>
      </section>

      <section class="panel">
        <!--==================
         WHY CODEX SECTION
        ==================-->

        <section class="whyBlock h-screen w-full mb-64">
          <!-- <section class="card-container w-full sm:block sm:w-full md:flex md:justify-center">
            <section class="personalize card bg-secondary border rounded text-center overflow-hidden w-3/12 h-auto p-20 text-gray-400 sm:w-1/5 sm:mx-8 sm:my-12">
              <h1 class="sm:mt-10 md:mt-20 text-xl text-center mb-12">Personalize Training</h1>

            </section>
            <section class="built card text-center shadow-md h-auto py-16 p-6 rounded overflow-hidden mx-8 w-4/12 sm:w-2/5 sm:my-12" style="background-color: #6C6C6C; filter: drop-shadow(0 0 0.75rem #827D7D);">
              <img class="m-auto p-8" src="../public/assets/figma-imgs/jet.png" alt="">
              <h1 class="font-sans font-bold text-4xl">Built for VR</h1>
              <p class="text-xl">VR is cheaper, safer, yet as realistic as real equipment.</p>
              <a href="#">See why Codex is better  > </a>
            </section>
            <section class="scalable card items-center bg-secondary border rounded overflow-hidden text-center w-3/12 h-auto p-20 text-gray-400 sm:w-1/5 sm:mx-8 sm:my-12">
              <h1 class="sm:mt-10 md:mt-20 text-xl text-center mb-12">Scalable & Relevant</h1>
              <a href="./partners.html">click here</a>
            </section>
          </section>

          <nav class="carousel text-center items-center">
            <input class="carousel-item-1 mx-10 bg-pink-900" type="radio" name="carousel-dots">

            <input class="carousel-item-2 mx-10" type="radio" name="carousel-dots" checked>

            <input class="carousel-item-3 mx-10" type="radio" name="carousel-dots">
          </nav> -->







          <!-- TEST CAROUSEL -->


          <section class="text-gray-700 body-font bg-secondary">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/3">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-contain object-center p-4" src="../public/assets/figma-imgs/turbine.png" alt="blog">
                    <div class="p-6">
                      <h1 class="text-center tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Personalize Training</h1>
                      <a class="text-center text-xl text-primary" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
                <div class="p-4 md:w-1/3">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden" style="background-color: #6C6C6C; filter: drop-shadow(0 0 0.75rem #827D7D);">
                    <img class="lg:h-48 md:h-36 w-full object-contain object-center p-4" src="../public/assets/figma-imgs/jet.png" alt="blog">
                    <div class="p-6">
                      <h1 class="text-center tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Built for VR</h1>
                      <p class="text-center text-primary text-lg">VR is cheaper, safer, yet as realistic as real equipment.</p>
                      <a class="object-center text-xl text-primary" href="./partners.html">See why Codex is better ></a>
                    </div>
                  </div>
                </div>
                <div class="p-4 md:w-1/3">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-contain object-center p-4" src="../public/assets/figma-imgs/soldier.png" alt="blog">
                    <div class="p-6">
                      <h1 class="text-center tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Scalable & Relavent</h1>
                      <a class="text-center text-xl text-primary" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>




          <!-- <div id='car-container'>
            <input type='radio' name="image" id='inp1' checked>
            <input type='radio' name="image" id='inp2' >
            <input type='radio' name="image" id='inp3'>

            <div class='images' id='one'>
              <img src='https://images.unsplash.com/photo-1459550146610-232100af5511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=847&q=8'>

              <label for='inp3' class='prev'></label>
              <label for='inp2' class='next'></label>
            </div>

            <div class='images' id='two'>
              <img src='https://images.unsplash.com/photo-1530825894095-9c184b068fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80'>

              <label for='inp1' class='prev'></label>
              <label for='inp3' class='next'></label>
            </div>

            <div class='images' id='three'>
              <img src='https://images.unsplash.com/photo-1554474054-1258273559a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'>

              <label for='inp2' class='prev'></label>
              <label for='inp1' class='next'></label>
            </div>

            <div id='car-nav'>
              <label class='dots' id='dot1' for='inp1'></label>
              <label class='dots' id='dot2' for='inp2'></label>
              <label class='dots' id='dot3' for='inp3'></label>
            </div>
          </div> -->
        </section>
      </section>

      <section class="panel">
        <!--==================
         PARTNERS SECTION
        ==================-->

        <section class="panel partnersBlock h-screen w-full mb-64">
          <!-- <section class="card-container w-full sm:block sm:w-full md:flex md:justify-center">
            <section class="wind card bg-secondary border rounded text-center overflow-hidden w-3/12 h-auto p-20 text-gray-400 sm:w-1/5 sm:mx-8 sm:my-12">
              <h1 class="sm:mt-10 md:mt-20 text-xl text-center mb-12">Wind Turbines</h1>
              <a class="text-lg" href="#">click here</a>
            </section>
            <section class="aircraft card text-center shadow-md h-auto py-16 p-6 rounded overflow-hidden mx-8 w-4/12 sm:w-2/5 sm:my-12" style="background-color: #6C6C6C; filter: drop-shadow(0 0 0.75rem #827D7D);">
              <img class="m-auto p-8" src="../public/assets/figma-imgs/jet.png" alt="">
              <h1 class="font-sans font-bold text-4xl">Air Craft Maintenance</h1>
              <a href="#">Explore how our partners are using this  >  </a>
            </section>
            <section class="soldier card items-center bg-secondary border rounded overflow-hidden text-center w-3/12 h-auto p-20 text-gray-400 sm:w-1/5 sm:mx-8 sm:my-12">
              <h1 class="sm:mt-10 md:mt-20 text-xl text-center mb-12">Soldier Training</h1>
              <a href="#">click here</a>
            </section>
          </section>

          <nav class="carousel text-center items-center">
            <input class="carousel-item-1 mx-10 bg-pink-900" type="radio" name="carousel-dots">

            <input class="carousel-item-2 mx-10" type="radio" name="carousel-dots" checked>

            <input class="carousel-item-3 mx-10" type="radio" name="carousel-dots">
          </nav> -->



          <section class="text-gray-700 body-font bg-secondary">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/3">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-contain object-center p-4" src="../public/assets/figma-imgs/turbine.png" alt="blog">
                    <div class="p-6">
                      <h1 class="text-center tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Wind Turbines</h1>
                      <a class="text-center text-xl text-primary" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
                <div class="p-4 md:w-1/3">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden" style="background-color: #6C6C6C; filter: drop-shadow(0 0 0.75rem #827D7D);">
                    <img class="lg:h-48 md:h-36 w-full object-contain object-center p-4" src="../public/assets/figma-imgs/jet.png" alt="blog">
                    <div class="p-6">
                      <h1 class="text-center tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Air Craft Maintenance</h1>
                      <p class="text-center text-primary text-lg">VR is cheaper, safer, yet as realistic as real equipment.</p>
                      <a class="text-center text-xl text-primary" href="./partners.html">See why Codex is better ></a>
                    </div>
                  </div>
                </div>
                <div class="p-4 md:w-1/3">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-contain object-center p-4" src="../public/assets/figma-imgs/soldier.png" alt="blog">
                    <div class="p-6">
                      <h1 class="text-center tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Soldier Training</h1>
                      <a class="text-center text-xl text-primary" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </section>
      <section class="panel">
        <!--==================
         SPOTLIGHT SECTION
        ==================-->

        <section class="panel spotlight h-screen w-full">
          <h1>Spotlight</h1>
          <section class="spot-container">

          </section>
        </section>
      </section>

      <section class="panel">
        <!--==================
         FOOTER/CONTACT SECTION
        ==================-->

        <section class="panel footer-text h-screen w-full">
          <section class="contents contact mt-64 p-8">
            <h1 class="text-4xl font-black mb-20">Want to Learn More About VR Training?</h1>
            <a href=./blogs.html"">
              <span class="my-64 border p-2 bg-primary text-secondary text-2xl">Head over to Our Blogs to Learn more ></span>
            </a>
            <br>
            <br>
            <a href="./contact.html">
              <span class="my-64 border bg-primary text-secondary text-2xl">Or Reach Out to Us ></span>
            </a>
          </section>
          <footer class="footer">
            <ul class="p-6">
              <a href="./about.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
              </a>
              <a href="./products.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Products</li>
              </a>
              <a href="./partners.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
              </a>
              <a href="./blog.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
              </a>
              <a href="./careers.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
              </a>
              <a href="./contact.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
              </a>
            </ul>
            </footer>
            <section class="footer-logos float-right -my-48 p-12">
              <div class="small-logos flex justify-end">
                <img class="mx-12" src="../public/assets/figma-imgs/twitter.png" alt="">
                <img src="../public/assets/figma-imgs/linkedin.png" alt="">
              </div>
              <img src="../public/assets/figma-imgs/vinci-logo.png" alt="">
            </section>
        </section>
      </section>

      <!-- end of main section container -->
    </section>

    <!-- SCRIPTS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script type="text/javascript" src="../src/panels.js"></script>
  </body>
</html>
