<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/panels.css">
    <link rel="stylesheet" href="../public/css/mobile.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <title>Vinci VR</title>
  </head>
  <body class="text-primary bg-secondary font-serif">
    <section id="container" class="overflow-x-hidden">
      <div class="main-wrapper">



    <!--================== NAV SECTION ==================-->

        <section class="hero-section panel text-center h-screen w-full">
          <header class="text-gray-700 body-font">
              <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
                <a href="/" class="flex items-center mb-4 md:mb-0  z-10">
                  <img class="w-1/6 -mt-2" src="../public/img/vinci-logo.png" alt="">
                </a>
                <nav class="md:ml-auto flex flex-wrap items-center z-10 text-base justify-center text-primary text-lg font-semibold">
                  <a href="/about" class="mr-5 hover:text-gray-900">About</a>
                  <a href="/services" class="mr-5 hover:text-gray-900">Solutions</a>
                  <a href="/partners" class="mr-5 hover:text-gray-900">Partners</a>
                  <a href="/careers" class="mr-5 hover:text-gray-900">Careers</a>
                  <a href="/blogs" class="mr-5 hover:text-gray-900">Blogs</a>
                  <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
                </nav>
              </div>
          </header>
          <hr class="-mt-4">

      <!--================== HERO SECTION ==================-->
        <style media="screen">
          h1, h2, h3, h4, h5, h6 {
            font-family: "Montserrat", sans-serif !important;
          }
        </style>

          <div class="overlay w-full h-screen" style="position:absolute; top:0; left:0;  min-width:100%; min-height:100vh; background-color:rgba(0,0,0,0.3); z-index:0;"></div>
          <video class="bg-video object-cover overflow-hidden" autoplay muted loop style="position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index:-1;">
              <source src="../public/video/background2.mp4" type="video/mp4">
          </video>
          <section class="font-sans hero-text w-full p-4 absolute z-1 sm:mt-32 md:mt-40 ">
            <h3 class="font-sans sm:text-xl md:text-xl xlg:text-2xl"> PREPARE FOR THE REAL WORLD
              <hr class="mt-4 w-1/3 mx-auto">
            </h3>
            <br>
             <h1 class="font-sans font-bold -mb-20 -mt-6 text-2xl md:text-4xl"> WITH A WORLD OF YOUR OWN
              <hr class=" w-1/3 mx-auto mb-10">
            </h1>
           <h3 class="font-sans pt-12 sm:my-8 sm:text-xl md:text-xl xlg:text-2xl ">Create, Analyze, and Train in <b class="bold">Virtual Reality</b></h3>
    ​
           <a id="learnMoreIntro" class="btn uppercase border p-4 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-sm md:text-sm lg:text-sm" href="/services">Learn about our services</a>
    ​
    ​       <p class="down-arrow text-4xl sm:my-12 md:my-32">⌄</p>
          </section>

        </section>


      <!--==================  INTRO SECTION ==================-->
      <section class="panel bg-secondary">
          <section class="lg:flex mb-4 ">
             <div class="w-3/5 ml-20 m-2 mt-16 p-6 pt-14">
                 <h2 class ="text-primary font-medium text-3xl text-left tracking-wider font-sans">
                     Codex: A New Way to Train in VR
                 </h2>
                 <hr class="mt-4">
                 <p class="text-primary text-left mt-6 tracking-widest leading-8">
                 Effective training requires expensive equipment, generates potential safety hazards, and elongates training time.
                  With Codex, teams can now improve their training by creating, training in and analyzing immersive VR simulations.
                  </p>

                  <a id="learnMore" class="btn uppercase border p-4 hover:bg-red-700 hover:opacity-3 hover:text-gray-600 sm:text-sm lg:text-sm sm:ml-1 sm:-my-4 sm:block md:ml-1 md:mt-10 lg:ml-1 lg:mt-32"  style="width:40%;"  href="/services">
                    <span class="text-center pl-8">LEARN MORE ABOUT CODEX </span>
                  </a>
             </div>
             <div class="w-2/5 p-12">
               <aside class="vr-img w-4/5 md:float-left lg:mt-20 -ml-10">
                 <img src="../public/img/vr-goggles.png" alt="vr goggles" class="vr-goggles">
               </aside>
            </div>
           </section>
     </section>


     <section class="panel">
       <section class="partnersBlock h-screen w-full mb-64">
         <section class="text-gray-700 body-font">
           <div class="container px-5 mt-16 mx-auto">
             <div class="text-center mb-20">
               <h1 class=" text-4xl font-medium title-font text-gray-900 mb-4 text-primary">Why VINCI?</h1>
               <div class="flex mt-6 justify-center">
                 <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
               </div>
             </div>
             <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">

               <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
                 <div class="w-20 h-20 inline-flex items-center justify-center mb-5 flex-shrink-0">
                   <img src="../public/img/lightning.png" alt="">
                 </div>
                 <div class="flex-grow text-primary">
                   <h2 class="text-gray-900 text-lg title-font font-medium mb-3 uppercase text-primary">Codex </h2>
                   <p class="leading-relaxed text-base">
                     VINCI's flagship software, CODEX, enables instructors to rapidly create and edit their own training simulations.</p>
                   <a href = "" class="mt-3 text-primary inline-flex items-center">Learn More
                     <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                       <path d="M5 12h14M12 5l7 7-7 7"></path>
                     </svg>
                   </a>
                 </div>
               </div>

               <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
                 <div class="w-20 h-20 inline-flex items-center justify-center  mb-5 flex-shrink-0">
                    <img class="object-fill" src="../public/img/affordable.png" alt="">
                 </div>
                 <div class="flex-grow text-primary">
                   <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-primary">Low Cost</h2>
                   <p class="leading-relaxed text-base">VINCI creates proprietary software and utilizes consumer hardware to lower the cost of creating and using VR.</p>
                   <a href = "" class="mt-3 text-primary inline-flex items-center">Learn More
                     <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                       <path d="M5 12h14M12 5l7 7-7 7"></path>
                     </svg>
                   </a>
                 </div>
               </div>

               <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
                 <div class="w-20 h-20 inline-flex items-center justify-center mb-5 flex-shrink-0 back" >
                    <img class="cover" src="../public/img/group.png" alt="">
                 </div>
                 <div class="flex-grow text-primary">
                   <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-primary">Client Centric</h2>
                   <p class="leading-relaxed text-base">VINCI’s partners take the front seat; by working closely with your workforce, we can build the best simulations.</p>
                   <a href = "" class="mt-3 text-primary inline-flex items-center">Learn More
                     <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                       <path d="M5 12h14M12 5l7 7-7 7"></path>
                     </svg>
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </section>
       </section>
     </section>


<!--============== Partners Section =======================-->
      <section class="panel">
        <section class="text-gray-700 body-font bg-secondary object-center">
          <div class="container px-5 mx-auto">
            <h2 class="mt-16 text-center title-font font-sans text-4xl font-medium text-primary tracking-wider uppercase">Partners</h2>
            <div class="carousel js-flickity mt-18">
              <div class="carousel-cell border-2 border-gray-200 rounded-lg overflow-hidden m-32">
                <h2 class="img-caption text-2xl p-4 text-primary">Wind Turbines</h2>
                <img class="w-full h-full" src="../public/img/wind-turbine.jpg" alt="Wind Turbines" />
                <a href="/partners" class="partner-link text-2xl p-4 text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Click here to learn more</a>
              </div>

              <div class="carousel-cell border-2 border-gray-200 rounded-lg overflow-hidden m-32 is-selected">
                <h2 class="img-caption text-2xl p-4 text-primary">Aircraft Maintenance</h2>
                <img class="w-full h-full" src="../public/img/cockpit.PNG" alt="VR Cockpit" />
                <a href="/partners" class="partner-link text-2xl p-4 text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Click here to learn more</a>
              </div>

              <div class="carousel-cell border-2 border-gray-200 rounded-lg overflow-hidden m-32">
                <span class="img-caption text-2xl p-4 text-primary">Soldier Training</span>
                <img class="w-full h-full z-0" src="../public/img/soldierTraining.JPG" alt="Soldier Training" />
                <a href="/partners" class="partner-link text-2xl p-4 text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Click here to learn more</a>
              </div>
          </div>
        </div>
      </section>


        <style media="screen">

        .flickity-viewport {
          overflow: visible;
        }

        .flickity-button-icon {
          top: 287% !important;
        }

        .flickity-page-dots {
          bottom: 80px;
        }

        .flickity-page-dots .dot {
          background: red !important;
        }

        .img-caption {
          position: absolute;
          /* height: 20px; */
          z-index: 100 !important;
          /* margin-left: 0rem; */
          display: block !important;
          background-color: rgba(0,0,0, 0.5);
        }

        .flickity-slider{
          top: -50px;
        }

        .partner-link {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-top: 43%;
            border: 2px solid white;
        }

        .partner-link:hover {
          background-color: white;
          color:
        }
/*
        .flickity-button-icon {
          position: absolute;
          top: 426% !important;
        } */

        .carousel-cell {
          width: 45% !important;
          height: 400px;
          /* flex-box, center image in cell */
          display: -webkit-box;
          /* display: -webkit-flex;
          display:         flex; */
          -webkit-box-pack: center;
          -webkit-justify-content: center;
                  justify-content: center;
          -webkit-align-items: center;
                  align-items: center;
        }

        .carousel-cell img {
          display: block;
          z-index: -10 !important;
          /* max-width: 100%;
          max-height: 100%; */
          /* dim unselected */
          opacity: 0.7;
          /* -webkit-transform: scale(0.85);
                  transform: scale(0.85); */
          /* -webkit-filter: blur(5px);
                  filter: blur(5px); */
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
                  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
        }

        /* brighten selected image */
        .carousel-cell.is-selected img {
          opacity: 1;
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-filter: none;
                  filter: none;
        }

        @media screen and ( min-width: 768px ) {
          .carousel-cell {
            height: 400px;
          }
        }

        @media screen and ( min-width: 960px ) {
          .carousel-cell {
            width: 60%;
          }
        }

        /* buttons, no circle */
        .flickity-prev-next-button {
          width: 60px;
          height: 60px;
          background: transparent;
          opacity: 0.6;
          top: 62%;
        }
        .flickity-prev-next-button:hover {
          background: transparent;
          opacity: 1;
        }
        /* arrow color */
        .flickity-prev-next-button .arrow {
          fill: white;
        }
        .flickity-prev-next-button.no-svg {
          color: white;
        }
        /* closer to edge */
        .flickity-prev-next-button.previous { left: 0; }
        .flickity-prev-next-button.next { right: 0; }
        /* hide disabled button */
        .flickity-prev-next-button:disabled {
          display: none;
        }
        </style>





        <!-- <section class="partnersBlock h-screen w-full mb-64">
          <section class="text-gray-700 body-font bg-secondary">
            <div class="container px-5 mx-auto">
              <h2 class="mt-16 text-center title-font font-sans text-4xl font-medium text-primary tracking-wider uppercase">Partners</h2>
              <div class="mt-2 md:flex lg:flex-wrap lg:mt-16">
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="sm:w-auto lg:h-40 md:h-40 sm:h-40 w-full object-contain object-center p-4" src="../public/img/turbine.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-center text-2xl title-font font-semibold text-primary mb-6 uppercase">Wind Turbines</h1>
                      <a id="clickHere" class="text-lg text-primary underline hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="/partners">click here</a>
                    </div>
                  </div>
                </div>
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-40 md:h-40 sm:h-40 w-full object-contain object-center p-4" src="../public/img/jet.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-center text-2xl title-font font-semibold text-primary mb-6 uppercase">AIR CRAFT MAINTENANCE</h1>
                      <a id="whyCodex" class="text-lg text-primary underline hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="/partners">Explore how our partners are using this.</a>
                    </div>
                  </div>
                </div>

                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-40 md:h-40 sm:h-40 w-full object-contain object-center p-4" src="../public/img/soldier.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-center text-2xl title-font font-semibold text-primary mb-6 uppercase">Solider Training</h1>
                      <a id="clickHere" class="text-lg text-primary underline hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="/partners">click here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section> -->
      </section>

      <!--==================  SPOTLIGHT SECTION ==================-->
      <section class="panel">
        <section class="panel spotlight h-screen w-full">
          <h1 class="text-center text-4xl mt-16 mb uppercase font-sans font-medium z-30 relative">Spotlight</h1>
          <section class="spot-container flex justify-center p-4">

            <!-- videoWrapper used for width and height of video in panel css -->
            <div class="videoWrapper">
                <iframe width="860" height="615" src="https://www.youtube-nocookie.com/embed/NloJsABn8qM?vq=hd720" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen="true" controls="0"></iframe>
            </div>
          </section>
        </section>
      </section>



      <!--================== FOOTER/CONTACT SECTION ==================-->
      <section class="panel">
        <section class="bg-secondary panel">
           <footer class="bg-secondary bg-bottom bg-cover text-primary body-font mt-24 p-4" style="background-image: url('../public/img/contactbckgrnd.png')">
             <h1 class ="text-primary text-center text-4xl font-sans">Want to Learn More About VR Training?</h1>
             <div class="flex flex-col justify-center mt-24">
                <a class="flex flex-col justify-center" href="/blogs">
                  <button class="w-1/5 mx-auto text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg">Check Out Our Blogs</button>
                </a>
                <p class="mx-auto text-Center text-2xl text-primary text-semibold">-or-</p>
                <a class="flex flex-col justify-center" href="/contact">
                <button class=" w-1/5 mx-auto text-white border-sloid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg">Reach Out To Us</button>
                </a>
             </div>
             <div class=" container px-5 py-32 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
               <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                 <img class="-mt-2" src="../public/img/vinci-logo.png" alt="">
               </div>
               <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                 <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                   <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
                   <nav class="list-none mb-10 -mt-24">
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/about">ABOUT</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/services">SOLUTIONS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/partners">PARTNERS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer">CAREERS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/blogs">BLOGS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/contact">CONTACT</a>
                     </li>
                   </nav>
                 </div>
               </div>
             </div>
             <div class="tres-footer">
               <div class="container mx-auto py-8 px-5 flex flex-wrap flex-col sm:flex-row">
                 <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 VINCI-VR —
                   <a href="http://www.tresstudios.dev/" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@tresstudios</a>
                 </p>
                 <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                   <a class="text-gray-500">
                     <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                       <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                     </svg>
                   </a>
                   <a class="ml-3 text-gray-500">
                     <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                       <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                     </svg>
                   </a>
                   <a class="ml-3 text-gray-500">
                     <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                       <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                       <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                     </svg>
                   </a>
                 </span>
               </div>
             </div>
           </footer>
        </section>
      </section>
                  <!-- end of main section container -->
        </div>


      <!-- ==================================================================== ==================================================
      =========================================beginning of main mobile view container ===========================================
    ==============================================================================================================================-->

      <section class="mobile-main">
        <section class="mobile-nav-test bg-red-100 z-10">
          <nav id="hamnav">
              <!-- [THE HAMBURGER] -->
              <a href="/" class="mt-2 z-10">
                <img class="w-1/3 p-4" src="../public/img/vinci-logo.png" alt="">
              </a>
              <label for="hamburger">&#9776;</label>
              <input type="checkbox" id="hamburger"/>

              <!-- [MENU ITEMS] -->
              <div id="hamitems">
                <br>
                <!-- <br>
                <br> -->
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/services">Solutions</a>
                <a href="/partners">Partners</a>
                <a href="/careers">Careers</a>
                <a href="/blogs">Blogs</a>
                <a href="/contact">Contact</a>
              </div>
            </nav>

            <style media="screen">
            /* [ON SMALL SCREENS] */
            @media screen and (max-width: 640px){
            /* [ON BIG SCREEN] */
              /* Wrapper */
              #hamnav {
              width: 100%;
              background: #191919;
              /* Optional */
              position: fixed;
              top: 0;
              right: 0;
              z-index: 100 !important;

              }

              label {
                position: absolute;
                top: 0;
                right: 0;
              }

              /* Hide Hamburger */
              #hamnav label, #hamburger { display: none; }

              /* Horizontal Menu Items */
              #hamitems { display: flex; }
              #hamitems a {
              width: 20%; /* 100% / 5 tabs = 20% */
              padding: 10px;
              color: white;
              text-decoration: none;
              text-align: center;
              }
              #hamitems a:hover {
              background: #401408;
              }


              /* Show Hamburger Icon */
              #hamnav label {
                display: inline-block;
                color: white;
                background: #811;
                font-style: normal;
                padding: 10px;
                font-size: 1.45rem;
                width:3.0rem;
              }

              /* Break down menu items into vertical */
              #hamitems a {
                box-sizing: border-box;
                display: block;
                width: 100%;
                border-top: 1px solid #333;
              }

              #hamitems a:last-child {
               border-bottom: 1px solid #333;
              }

              /* Toggle Show/Hide Menu */
              #hamitems { display: none; }
              #hamnav input:checked ~ #hamitems { display: block; }


              /* [DOES NOT MATTER] */
              html, body {
              padding: 0;
              margin: 0;
              font-family: arial, sans-serif;
              }
            }
            </style>
        </section>

        <section class="hero-section panel text-center h-screen w-full">

      <!--==================
       HERO SECTION
      ==================-->
        <style media="screen">
          h1, h2, h3, h4, h5, h6 {
            font-family: "Montserrat", sans-serif !important;
          }
        </style>

          <div class="overlay w-full h-screen" style="position:absolute; top:0; left:0;  min-width:100%; min-height:100vh; background-color:rgba(0,0,0,0.3); z-index:0;"></div>
          <video class="bg-video object-cover overflow-hidden" autoplay muted loop style="position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index:-1;">
              <source src="../public/video/background2.mp4" type="video/mp4">
          </video>
          <section class="font-sans hero-text w-full p-4 absolute z-1 sm:mt-32 md:mt-40 ">
            <h3 class="font-sans text-xl mt-40"> PREPARE FOR THE REAL WORLD
              <hr class="mt-4 w-3/4 mx-auto">
            </h3>
            <br>
             <h1 class="font-sans font-bold -mb-16 -mt-4 text-3xl "> WITH A WORLD OF YOUR OWN
              <hr class=" w-3/4 mx-auto mt-2 mb-10">
            </h1>
           <h3 class="font-sans pt-12 sm:my-8 text-xl mb-24">Create, Analyze, and Train in <b class="bold">Virtual Reality</b></h3>
    ​
           <a id="learnMoreIntro" class="btn uppercase border p-4 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 text-sm" href="/services">Learn about our services</a>
    ​
    ​       <p class=" down-arrow text-4xl mt-20">⌄</p>
          </section>

        </section>


      <!--==================
       INTRO SECTION
      ==================-->
      <section class="panel bg-secondary">
          <section class="sm:block lg:flex mb-4">
             <div class="lg:w-3/5 lg:ml-20 m-2 mt-12 p-6 pt-14 sm:w-full sm:h-vh">
                 <h2 class ="text-primary font-medium text-3xl text-left tracking-wider font-sans">
                     Codex: A New Way to Train in VR
                 </h2>
                 <hr class="mt-4">
                 <p class="text-primary text-left mt-6 mb-10 tracking-widest leading-8">
                 Effective training requires expensive equipment, generates potential safety hazards, and elongates training time.
                  With Codex, teams can now improve their training by creating, training in and analyzing immersive VR simulations.
                  </p>
              </div>
              <a id="learnMore" class="uppercase border p-4 hover:bg-red-700 hover:opacity-3 hover:text-gray-600 sm:text-sm sm:block sm:ml-64 mt-10"  href="/services" style="margin-left: 2rem;">
                <span class="text-center">LEARN MORE ABOUT CODEX </span>
              </a>
             <div class="sm:block lg:w-2/5 p-12">
               <aside class="vr-img w-4/5 md:float-left mt-20 -ml-10 ">
                 <!-- <img src="../public/img/vr-goggles.png" alt="vr goggles" class="vr-goggles" style="margin-left: 2rem;"> -->
               </aside>
            </div>
           </section>
         </section>

         <section class="panel">
           <section class="overflow-x-auto partnersBlock h-screen w-full mb-64">
             <section class="text-gray-700 body-font">
               <div class="container px-5 mt-16 mx-auto">
                 <div class="text-center mb-20">
                   <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4 text-primary">Why VINCI?</h1>
                   <div class="flex mt-6 justify-center">
                     <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
                   </div>
                 </div>
                 <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">

                   <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
                     <div class="w-20 h-20 inline-flex items-center justify-center mb-5 flex-shrink-0">
                       <img src="../public/img/lightning.png" alt="">
                     </div>
                     <div class="flex-grow text-primary">
                       <h2 class="text-gray-900 text-lg title-font font-medium mb-3 uppercase text-primary">Codex </h2>
                       <p class="leading-relaxed text-base">
                         VINCI's flagship software, CODEX, enables instructors to rapidly create and edit their own training simulations.</p>
                       <a href = "" class="mt-3 text-primary inline-flex items-center">Learn More
                         <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                           <path d="M5 12h14M12 5l7 7-7 7"></path>
                         </svg>
                       </a>
                     </div>
                   </div>

                   <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
                     <div class="w-20 h-20 inline-flex items-center justify-center  mb-5 flex-shrink-0">
                        <img class="object-fill" src="../public/img/affordable.png" alt="">
                     </div>
                     <div class="flex-grow text-primary">
                       <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-primary">Low Cost</h2>
                       <p class="leading-relaxed text-base">VINCI creates proprietary software and utilizes consumer hardware to lower the cost of creating and using VR.</p>
                       <a href = "" class="mt-3 text-primary inline-flex items-center">Learn More
                         <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                           <path d="M5 12h14M12 5l7 7-7 7"></path>
                         </svg>
                       </a>
                     </div>
                   </div>

                   <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center">
                     <div class="w-20 h-20 inline-flex items-center justify-center mb-5 flex-shrink-0 back" >
                        <img class="cover" src="../public/img/group.png" alt="">
                     </div>
                     <div class="flex-grow text-primary">
                       <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-primary">Client Centric</h2>
                       <p class="leading-relaxed text-base">VINCI’s partners take the front seat; by working closely with your workforce, we can build the best simulations.</p>
                       <a href = "" class="mt-3 text-primary inline-flex items-center">Learn More
                         <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                           <path d="M5 12h14M12 5l7 7-7 7"></path>
                         </svg>
                       </a>
                     </div>
                   </div>
                 </div>
               </div>
             </section>
           </section>
         </section>


         <!--============== Partners Section =======================-->
               <section class="panel">
                 <section class="text-gray-700 body-font bg-secondary">
                   <div class="container px-5 mx-auto">
                     <h2 class="mt-16 text-center title-font font-sans text-4xl font-medium text-primary tracking-wider uppercase">Partners</h2>
                     <div class="carousel js-flickity mt-18">
                       <div class="carousel-cell border-2 border-gray-200 rounded-lg overflow-hidden m-32">
                         <h2 class="img-caption text-2xl p-4 text-primary w-full">Wind Turbines</h2>
                         <img class="w-full h-full" src="../public/img/wind-turbine.jpg" alt="Wind Turbines" />
                         <a href="/partners" class="partner-link text-xl p-4 text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 w-full">Click here to learn more</a>
                       </div>

                       <div class="carousel-cell border-2 border-gray-200 rounded-lg overflow-hidden m-32">
                         <h2 class="img-caption text-2xl p-4 text-primary w-full">Aircraft Maintenance</h2>
                         <img class="w-full h-full" src="../public/img/cockpit.PNG" alt="VR Cockpit" />
                         <a href="/partners" class="partner-link text-xl p-4 text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 w-full">Click here to learn more</a>
                       </div>

                       <div class="carousel-cell border-2 border-gray-200 rounded-lg overflow-hidden m-32">
                         <h2 class="img-caption text-2xl p-4 text-primary w-full">Soldier Training</h2>
                         <img class="w-full h-full z-0 object-fit" src="../public/img/soldierTraining.JPG" alt="Soldier Training" />
                         <a href="/partners" class="partner-link text-xl p-4 text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 w-full">Click here to learn more</a>
                       </div>
                   </div>
                 </div>
               </section>


                 <style media="screen">
                 @media screen and (max-width: 640px) {
                   .img-caption {
                     position: absolute;
                     /* height: 20px; */
                     z-index: 100 !important;
                     /* margin-left: 0rem; */
                     display: block !important;
                     background-color: rgba(0,0,0, 0.5);
                   }

                   .flickity-button-icon {
                     top: 287% !important;
                   }

                   .flickity-page-dots {
                     bottom: 80px;
                   }

                   .flickity-page-dots .dot {
                     background: red !important;
                   }

                   .partner-link {
                     text-align: center;
                       position: absolute;
                       right: 0;
                       bottom: 0;
                       margin-top: 43%;
                       border: 2px solid white;
                       background-color: white;
                       color: gray;
                   }

                   .partner-link:hover {
                     background-color: white;
                     color:
                   }

                   .carousel-cell {
                     width: 85% !important;
                     height: 260px;
                     /* flex-box, center image in cell */
                     display: -webkit-box;
                     /* display: -webkit-flex;
                     display:         flex; */
                     -webkit-box-pack: center;
                     -webkit-justify-content: center;
                             justify-content: center;
                     -webkit-align-items: center;
                             align-items: center;
                   }

                   .carousel-cell img {
                     display: block;
                     z-index: -10 !important;
                     /* max-width: 100%;
                     max-height: 100%; */
                     /* dim unselected */
                     opacity: 0.7;
                     -webkit-transform: scale(0.85);
                             transform: scale(0.85);
                     /* -webkit-filter: blur(5px);
                             filter: blur(5px); */
                     -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
                             transition: opacity 0.3s, transform 0.3s, filter 0.3s;
                   }

                   /* brighten selected image */
                   .carousel-cell.is-selected img {
                     opacity: 1;
                     -webkit-transform: scale(1);
                             transform: scale(1);
                     -webkit-filter: none;
                             filter: none;
                   }

                   @media screen and ( min-width: 768px ) {
                     .carousel-cell {
                       height: 400px;
                     }
                   }

                   @media screen and ( min-width: 960px ) {
                     .carousel-cell {
                       width: 60%;
                     }
                   }

                   /* buttons, no circle */
                   .flickity-prev-next-button {
                     width: 60px;
                     height: 60px;
                     background: transparent;
                     opacity: 0.6;
                   }
                   .flickity-prev-next-button:hover {
                     background: transparent;
                     opacity: 1;
                   }
                   /* arrow color */
                   .flickity-prev-next-button .arrow {
                     fill: white;
                   }
                   .flickity-prev-next-button.no-svg {
                     color: white;
                   }
                   /* closer to edge */
                   .flickity-prev-next-button.previous { left: 0; }
                   .flickity-prev-next-button.next { right: 0; }
                   /* hide disabled button */
                   .flickity-prev-next-button:disabled {
                     display: none;
                   }
                 }

                 </style>
               </section>



      <!--================== SPOTLIGHT SECTION  ==================-->
      <section class="panel">
        <section class="panel spotlight h-screen w-full">

          <h1 class="text-center text-3xl mt-12 uppercase font-sans font-medium">Spotlight</h1>

          <section class="spot-container flex justify-center p-12">
            <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSheppardAirForceBase%2Fvideos%2F558267695076414%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->

            <iframe width="860" height="615" src="https://www.youtube-nocookie.com/embed/NloJsABn8qM?vq=hd720" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen="true" controls="0"></iframe>
          </section>
        </section>
      </section>



      <!--================== FOOTER/CONTACT SECTION ==================-->
      <section class="panel">

        <section class="bg-secondary panel">
           <footer class="bg-secondary bg-bottom bg-cover text-primary body-font mt-24 p-4" style="background-image: url('../public/img/contactbckgrnd.png')">
             <h1 class ="text-primary text-center font-medium text-3xl font-sans">Want to Learn More About VR Training?</h1>
             <div class="flex flex-col justify-center mt-24">
                <a class="flex flex-col justify-center" href="/blogs">
                  <button class="w-2/3 md:w-1/5 mx-auto text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-sm">Check Out Our Blogs</button>
                </a>
                <p class="mx-auto text-Center text-2xl text-primary text-semibold">-or-</p>
                <a class="flex flex-col justify-center" href="/contact">
                <button class=" w-2/3 mx-auto text-white border-sloid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-sm">Reach Out To Us</button>
                </a>
             </div>
             <div class=" container px-5 py-32 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
               <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                 <img class="-mt-2" src="../public/img/vinci-logo.png" alt="">
               </div>
               <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                 <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                   <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
                   <nav class="list-none mb-10 -mt-24">
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/about">ABOUT</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/services">SOLUTIONS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/partners">PARTNERS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer">CAREERS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/blogs">BLOGS</a>
                     </li>
                     <li>
                       <a class="text-primary-600 hover:text-gray-800 cursor-pointer" href="/contact">CONTACT</a>
                     </li>
                   </nav>
                 </div>
               </div>
             </div>
             <div class="bg-gray-200">
               <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                 <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 VINCI-VR —
                   <a href="" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@tresstudios</a>
                 </p>
                 <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                   <a class="text-gray-500">
                     <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                       <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                     </svg>
                   </a>
                   <a class="ml-3 text-gray-500">
                     <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                       <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                     </svg>
                   </a>
                   <a class="ml-3 text-gray-500">
                     <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                       <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                       <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                     </svg>
                   </a>
                 </span>
               </div>
             </div>
           </footer>
        </section>
      </section>

      </section>   <!-- end of mobile container -->

     </section> <!-- end of panel container -->

 <!-- ===============
     SCRIPTS
 =================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src ="../public/js/indexnew.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" ></script>

  </body>
</html>
