<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <title>vinci VR</title>
  </head>
  <body class="text-primary bg-secondary">
    <section class="main-wrapper">
      <section class="hero-section">
        <section class="vid-preview">
          <video autoplay muted loop>
              <source src="video/background2.mp4" type="video/mp4">
          </video>
        </section>
        <section class="hero-text">
          <h1 class="text-4xl mont-400"> PREPARE FOR THE REAL WORLD <br> <span class="text-6xl spect"> WITH A WORLD OF YOUR OWN </span> </h1>
  ​​
         <h3 class="text-xl"> Create, Analyze, and Train in <b class="bold">Virtual Reality</b></h3>
  ​
         <a id="learnMoreIntro" class="inner-link btn btn-lg mb32 mt-xs-40" href="/services">learn more</a>
  ​
  ​       <span class="down-arrow">⌄</span>
        </section>

        <img src="../public/assets/figma-imgs/line-guide.png" alt="styled guideline" class="guideline">
      </section>

      <section id="introBlock">
        <h1 id="introTitle">Codex: A New Way to Train in VR</h1>

        <p class="big"> Effective training requires expensive equipment, generates potential safety hazards, and elongates training time. With Codex, teams can now improve their training by creating, training in and analyzing immersive VR simulations.
        </p>

        <a id="learnMore" href="/services">LEARN MORE ABOUT CODEX</a>

        <aside class="vr-img">
    			<img src="../public/assets/figma-imgs/vr-goggles.png" alt="vr goggles" class="vr-goggles">
        </aside>
      </section>
      <section class="whyBlock">
        <section class="card-container">
          <section class="personalize card">
            <h1>Personalize Training</h1>
            <a href="#">click here</a>
          </section>
          <section class="built card">
            <img src="" alt="">
            <h1>Built for VR</h1>
            <p>VR is cheaper, safer, yet as realistic as real equipment.</p>
            <a href="#">See why Codex is better  > </a>
          </section>
          <section class="scalable card">
            <h1>Scalable & Relevant</h1>
            <a href="#">click here</a>
          </section>
        </section>

      </section>


      <section class="partnersBlock">
        <section class="card-container">
          <section class="wind card">
            <h1>Wind Turbines</h1>
            <a href="#">click here</a>
          </section>
          <section class="aircraft card">
            <img src="figma-imgs/jet.png" alt="">
            <h1>Air Craft Maintenance</h1>
            <a href="#">Explore how our partners are using this  > </a>
          </section>
          <section class="soldier card">
            <h1>Soldier Training</h1>
            <a href="#">click here</a>
          </section>
        </section>
      </section>

      <section class="spotlight">
        <h1>Spotlight</h1>
        <section class="spot-container">

        </section>
      </section>

      <section class="footer-text">
        <h1>Want to Learn More About VR Training?</h1>

        <a href="#">Read more in our Blogs</a>

        <a href="#">Or Reach Out to Us  > </a>
      </section>

      <!-- end of main section container -->
    </section>
  </body>
</html>
