

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VINCI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme-navy.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom2.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

  <!-- LinkedIn metadata added by Tiffany 1/8/18 -->
  
    <meta property='og:title' content='Next-Gen VR Training Simulations'/>
    <meta property='og:image' content='//www.vinci-vr.com/img/eric.JPG/'>
    <meta property='og:description' content='Prepare for the real world with a world of your own.'/>
    <meta property='og:url' content='//www.vinci-vr.com' />

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100054313-1', 'auto');
  ga('send', 'pageview');

</script>
    <div class="main-container">
        <section class="cover fullscreen image-bg overlay parallax slider-10-1487319147192" style="height: 100vh !important;">

           <ul class="slides" style="margin-bottom: 0">
                <li class="vid-bg image-bg overlay">
                    <div class="background-image-holder">
                        <img alt="Background Image" class="background-image" style="background-position: center; background-size: cover" src="img/leapmotion.jpg">
                    </div>
                       <!--   <div class="fs-vid-background">
                        <video autoplay muted loop>
                            <source src="video/VINCIBack.mp4" type="video/mp4">
                        </video>
                    </div>
 -->            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        
                        <h1 id="tagline" class="uppercase mb0" style="margin-top: -4vh;"> DESIGN LIKE NEVER BEFORE</h1>
                    </div>
                </div>
            </div>
            <div class="align-bottom relative-xs text-center">
                <a class="inner-link btn btn-lg mb32 mt-xs-40" href="#middle">learn more</a>
            </div>
              
                </li>
            </ul>
        </section>
        <section id="middle" class="text-7-1487319391275 reveal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <h3 class="uppercase color-primary mb40 mb-xs-24" id="bodyP">CREATE GREATNESS</h3>
                       
                  
                         <p  class="lead" id = "bodyP">
                    The world is not flat. Yet, we experience our designs on 2D screens. It’s not natural; it’s not real. And most of all, it’s <span style="font-weight: 800 !important">slow</span>. <br>
                    <br><span style=" text-decoration: underline;">We want to bring your innovative products to market faster. </span>
                    With our virtual reality platform, your product designers can experience and interact with their designs in real scale within minutes — <span style="font-weight: 800 !important">letting you iterate, test, and understand your vision faster</span>.
                          </p>

                    </div>

                    <div class="col-md-6">
                      <img src="img/vive2.png" style="padding-top: 10px; padding-left: 20px" />
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #FFF">
          <div class="container">
            <div class="row">
            <div class="col-md-12">
            <h3 class="uppercase color-primary mb40 mb-xs-24" id="bodyP">Why VINCI</h3>
            </div>
              <div class="col-md-6 col-md-push-6 imgBack reveal" id="walking"></div>

              <div class="col-md-6 col-md-pull-6">
                
                 <center>
                <div class="spacing reveal">
                <h4 id="bodyP">Plug-n-Play</h4>

                <p class="lead text-7-1487319391275 padding" id="bodyP">Upload your 3D model into VINCI's cloud-based system and pull it into an intuitive VR experience in a matter of minutes - no prior development knowledge needed.</p>
                </div>
              </center>

              </div>

              <div class="clear" style="margin-bottom: 20px;"></div>

              <div class="col-md-6 imgBack reveal" id="leap"></div>
              <div class="col-md-6 reveal">
              
                
                <center>
                <div class="spacing">
                <h4 id="bodyP" style="padding-top: 10px">No Controller Needed</h4>
                <p class="lead text-7-1487319391275" id="bodyP">We utilize Leap Motion and the HTC Vive, meaning that your location, hands, and head are scanned into our VR environment. You get full hand dexterity- no gloves needed. You can walk around, grab, annotate - all more naturally with your own body. </p>
                </div>
                </center>

              
              </div>


              <div class="clear" style="margin-bottom: 20px;"></div>
                <div class="col-md-6 col-md-push-6 imgBack reveal" id="tech"></div>

              <div class="col-md-6 col-md-pull-6 reveal">
              <center>
              <div class="spacing">
                <h4 id="bodyP">Cloud-Based</h4>
                <p class=" lead text-7-1487319391275 padding" id="bodyP">Don't be tethered to one location. VINCI's cloud-based system lets your designers upload their models for somebody else to experience - teammates, managers, or clients, even from halfway around the world. </p>
              </div>
              </center>
              </div>
            </div>
          </div>
        </section>

        <section>
        <div class="container">
        <div class="row">
          <div class="col-md-12">
          <h3 class="uppercase color-primary mb40 mb-xs-24" id="bodyP">Check out our video</h3>
          <center>

            <div class="video-container"><iframe width="640" height="360" src="https://www.youtube.com/embed/56D_UawhgMc?rel=0" frameborder="0" allowfullscreen></iframe></div>
            </center>
          </div>
          </div>
          </div>

        </section>
       
        <section style="background-color: #000000" id="news">
            <div class="container">
                <div class="row">
              

                 <div class="col-md-12">
               <h3 class="uppercase whiteTitle mb40 mb-xs-24" id="bodyP">Where We've Been</h3>
             
              <div class="bstimeslider">
            
                <div id="viewContainer">
                   <div id="tslshow">
                 
                     <div class="bktibx"> <button class="unskin" id="made">MADE </button> </div>
                     <div class="bktibx"> <button class="unskin" id="army">USArmy </button></div>
                      <div class="bktibx"> <button class="unskin" id="bio">BioBots</button>  </div>
                      <div class="bktibx"> <button class="unskin" id="perel">Perelman </button></div>
                      <div class="bktibx"> <button class="unskin" id="meng">UPenn </button></div>
                      <div class="bktibx"> <button class="unskin" id="inno">Babson </button>  </div>
                  
                   </div>
                  
              </div>
               <div id="rightArrow"><img src="img/next.png" width="20px"> </div>
              <div id="leftArrow"><img src="img/back.png" width="20px"></div>
             
                </div>

                <div class="clear"></div>
                <div class="accordion-group">
                <div class="collapse in" id="madeCollapse">
                 
                     <div class="image" id="masschallenge"> 
                    <div class="col-md-6 right">
                      <h4 class="whiteTitle" style="margin-top: 1.5vh">Partner with MADE@MassChallenge</h4>
                    <h6 class="newsText"> VinciVR and MADE@MassChallenge formed a partnership to leverage VINCI's tech to take the startups in MassChallenge to market faster. MassChallenge accelerates promising startups around the world. </h6>
                    </div>
                   
                     </div>
                    

              
                </div>
                <div class="collapse" id="armyCollapse">
                  
                    <div class="image" id="natick"> 
                      <div class="col-md-6 right">
                      <h4 class="whiteTitle" style="margin-top: 1.5vh">US Army Research</h4>
                    <h6 class="newsText"> VinciVR and Natick Soldier Research, Development, and Engineering Center (NSRDEC) are in early research to test efficacy of VR-based training. NSRDEC develops emerging tech for the future battlefield.</h6>
                    </div>
              
                  </div>
                  </div>

                    <div class="collapse" id="bioCollapse">
                  
                     <div class="image" id="biobots"> 
                      <div class="col-md-6 right">
                      <h4 class="whiteTitle" style="margin-top: 1.5vh">Vinci team showcases demo at BioBots</h4>
                    <h6 class="newsText"> The Vinci Team met with the BioBots to showcase Vinci's Alpha and explore potential applications of VR with Healhcare Sciences. Biobots Produces 3D Tissue/Organ Printers for researchers- check out their <a href="https://www.biobots.io/" style="color: #ADD8E6">website here.</a></h6>
                    </div>
              
                  </div>
                  </div>

                    <div class="collapse" id="perelCollapse">
                  
                      <div class="image" id="perelman"> 
                      <div class="col-md-6 right">
                      <h4 class="whiteTitle" style="margin-top: 1.5vh">Perelman Medicine</h4>
                    <h6 class="newsText"> The Vinci Team met with Researchers at the Perelman Center for Advanced Medicine to showcase Vinci's Alpha. University of Pennsylvania's Perelman Center for Advanced Medicine develops a broad spectrum of medical devices in addition to leading cutting edge healthcare innovations.</h6>
                    </div>

                    </div>
              
                  </div>


                  <div class="collapse" id="meCollapse">
                      <div class="image" id="me"> 
                      <div class="col-md-6 right">
                      <h4 class="whiteTitle" style="margin-top: 1.5vh">University of Pennsylvania SEAS</h4>
                    <h6 class="newsText"> The Vinci Team demoed with Mechanical and Bio Engineers at University of Pennsylvania's School of Engineering and Applied Sciences(SEAS). SEAS engineers work on various projects from ice drills to drones.</h6>
                    </div>

                    </div>
              
                  </div>

                      <div class="collapse" id="baboCollapse">
                      <div class="image" id="innovation"> 
                      <div class="col-md-6 right">
                      <h4 class="whiteTitle" style="margin-top: 1.5vh">Babson College Innovation Day</h4>
                    <h6 class="newsText">  Founder Eagle Wu demoed the Vinci Concept at the Babson College Innovation Day. The Innovation Day showcases the latest innovative companies from Babson College students and alumni. </h6>
                    </div>

                    </div>
              
                  </div>




                  </div>
                  </div>
                </div>
                </div>

     
        </section>

        <section id="team">
            <div class="container">
            <div class="row">
                  <div class="col-md-12">
                  <h3 class="uppercase  mb40 mb-xs-24" id="bodyP">Our Team</h3>
                  </div>

                  <div class="col-md-6">
                  <center>
                  <div class="face" id="eagle"></div>
                  
                  <h4 class="positionTitle">Eagle Wu</h4>
                  <h5 class="positionTitle">CEO</h5>
                    
                  <h6 class="positionDesc">Founded CODE Tech Incubator @Babson. <br> Fellow @Horizons School of Technology. <br> Won Money 20/20 - global Fin-Tech hackathon.</h6>
                    </center>
                  </div>

              

                  <div class="col-md-6">
                  <center>
                  <div class="face" id="tiff"></div>
                  
                    <h4 class="positionTitle">Tiffany Yue</h4>
                  <h5 class="positionTitle">Head of Product</h5>
                    
                  <h6 class="positionDesc">CS@UPenn. <br> Built plugins for CAD software. <br> Can translate 3D models onto websites.</h6>
                  </center>
                  </div>

    <div class="col-md-6">
                  <center>
                  <div class="face" id="brendan"></div>
                 
                
                    <h4 class="positionTitle">Brendan Luu</h4>
                  <h5 class="positionTitle">Consultant/Dev</h5>
                    
                  <h6 class="positionDesc">Founded Drexel VR. <br> Unity Developer. <br> Teaches VR Dev @Philly's URBN Center.</h6>
                  </center>
                  </div>

                  <div class="col-md-6">
                  <center>
                  <div class="face" id="danny"></div>
                  
                    <h4 class="positionTitle">Danny Cabrera</h4>
                  <h5 class="positionTitle">Advisor</h5>
                    
                  <h6 class="positionDesc">CEO, BioBots <br> BioBots makes 3D Organ Printers <br> Helps Navigate Emerging Tech.</h6>
                  </center>
                  </div>

            </div>
            </div>
        </section>

        <section id="contact" class="cover fullscreen image-slider slider-all-controls slider-15-1487322412305">
            <ul class="slides" style="margin-bottom: 0">
                <li class="vid-bg image-bg overlay">
                    <div class="background-image-holder">
                        <img alt="Background Image" class="background-image" src="https://unsplash.imgix.net/photo-1425321395722-b1dd54a97cf3?q=75&amp;fm=jpg&amp;w=1080&amp;fit=max&amp;s=9e4ce3e023621d6f94259eea8fa3b856">
                    </div>
                   
                    <div class="container v-align-transform">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="mb8">Try out Vinci VR</h1>
                                <p class="lead mb48">
                                    Join the design revolution
                                </p>
                                <form id="submit-form" class="form-newsletter thirds" onsubmit="event.preventDefault();">
                                    <input type="text" name="Name" class="validate-required signup-name-field" placeholder="Your Name" id="Name">
                                    <input type="text" name="Email" class="validate-required validate-email signup-email-field" placeholder="Email Address" id="Email">
                                    <button type="submit">Keep Me Informed</button>
                                    <p class="sub text-center">
                                        By signing up, you agree to our
                                        <a href="/terms">Terms Of Service</a>
                                        <br>
                                        Website Designed with <a href="https://jinn.tech/" target="_blank" >Jinn Tech </a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/form-submit.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/custom.js"></script>

<script type="text/javascript">
 
  window.sr = ScrollReveal();
    sr.reveal('.reveal', { delay: 400 , origin: 'bottom'});
    sr.reveal('.bar');


  var view = $("#tslshow");
var move = "100px";
var sliderLimit = -750

$("#rightArrow").click(function(){
    
    var currentPosition = parseInt(view.css("left"));
    if (currentPosition >= sliderLimit) view.stop(false,true).animate({left:"-="+move},{ duration: 400})

});

$("#leftArrow").click(function(){

    var currentPosition = parseInt(view.css("left"));
    if (currentPosition < 0) view.stop(false,true).animate({left:"+="+move},{ duration: 400})

});

    $('#made').click(function(e){
      if(!$('#madeCollapse').hasClass('collapse in')){
      $('.collapse').collapse('hide');
      $('#madeCollapse').collapse('toggle')
      $('.unskin').css('color', '#FFF');
      $('#made').css('color', "#ADD8E6");
      }
    })

    $('#army').click(function(e){
         if(!$('#armyCollapse').hasClass('collapse in')){
      $('.collapse').collapse('hide');
      $('#armyCollapse').collapse('toggle');
      $('.unskin').css('color', '#FFF');
      $('#army').css('color', "#ADD8E6");
      }
    })
     $('#bio').click(function(e){
      if(!$('#bioCollapse').hasClass('collapse in')){
      $('.collapse').collapse('hide');
      $('#bioCollapse').collapse('toggle');
      $('.unskin').css('color', '#FFF');
      $('#bio').css('color', "#ADD8E6");
      }
    })

    $('#perel').click(function(e){
      if(!$('#perelCollapse').hasClass('collapse in')){
      $('.collapse').collapse('hide');
      $('#perelCollapse').collapse('toggle');
      $('.unskin').css('color', '#FFF');
      $('#perel').css('color', "#ADD8E6");
      }
    })

      $('#meng').click(function(e){
      if(!$('#meCollapse').hasClass('collapse in')){
      $('.collapse').collapse('hide');
      $('#meCollapse').collapse('toggle');
      $('.unskin').css('color', '#FFF');
      $('#meng').css('color', "#ADD8E6");
      }
    })
      $('#inno').click(function(e){
      if(!$('#baboCollapse').hasClass('collapse in')){
      $('.collapse').collapse('hide');
      $('#baboCollapse').collapse('toggle');
      $('.unskin').css('color', '#FFF');
      $('#inno').css('color', "#ADD8E6");
      }
    })

</script>



</body>

</html>
