<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/panels.css">
    <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
    <title>Vinci VR</title>
  </head>
  <body class="text-primary bg-secondary font-serif">
    <section id="container" class="main-wrapper overflow-x-hidden">

      <section class="panel">
        <section class="hero-section text-center h-screen w-full">
          <!--==================
           NAV SECTION
          ==================-->

          <header class="text-gray-700 body-font">
              <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
                <a href="./index.html" class="flex items-center mb-4 md:mb-0  z-10">
                  <img class="w-1/6 -mt-2" src="../public/img/vinci-logo.png" alt="">
                </a>
                <nav class="md:ml-auto flex flex-wrap items-center z-10 text-base justify-center text-primary text-lg font-semibold">
                  <a href="./about.html" class="mr-5 hover:text-gray-900">About</a>
                  <a href="./products.html" class="mr-5 hover:text-gray-900">Solutions</a>
                  <a href="./partners.html" class="mr-5 hover:text-gray-900">Partners</a>
                  <a href="./careers.html" class="mr-5 hover:text-gray-900">Careers</a>
                  <a href="./blog.html" class="mr-5 hover:text-gray-900">Blogs</a>
                  <a href="./contact.html" class="mr-5 hover:text-gray-900">Contact</a>
                </nav>
              </div>
          </header>
          <hr class="-mt-4">

      <!--==================
       HERO SECTION
      ==================-->

          <div class="overlay w-full h-screen" style="position:absolute; top:0; left:0;  min-width:100%; min-height:100vh; background-color:rgba(0,0,0,0.3); z-index:0;"></div>
          <video class="bg-video object-cover overflow-hidden" autoplay muted loop style="position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index:-1;">
              <source src="../public/video/background2.mp4" type="video/mp4">
          </video>

          <section class="hero-text w-full p-4 absolute z-1 sm:mt-32 md:-my-84">
            <h1 class="font-serif sm:text-2xl md:text-2xl xlg:text-2xl"> PREPARE FOR THE REAL WORLD
              <hr class="mt-4 w-1/2 mx-auto">
            </h1>
            <br>
             <p class="font-sans font-black -mb-20 -mt-6 sm:text-2xl md:text-5xl"> WITH A WORLD OF YOUR OWN
              <hr class="mt-20 w-1/2 mx-auto">
             </p>
           <h3 class="sm:my-8 sm:text-3xl md:text-2xl lg:mb-16 lg:text-xl ">Create, Analyze, and Train in <b class="bold">Virtual Reality</b></h3>
    ​
           <a id="learnMoreIntro" class="btn uppercase border p-4 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l  lg:text-base" href="./products.html">Learn about our services</a>
    ​
    ​       <p class="down-arrow sm:text-4xl my-10">⌄</p>
          </section>
        </section>
      </section>

      <!--==================
       INTRO SECTION
      ==================-->
      <section class="panel bg-secondary">
          <section class="md:flex lg:flex mb-4 ">
             <div class="w-3/5 ml-20 m-2 mt-6 p-6 pt-14">
                 <h2 class ="text-primary font-semibold text-3xl text-left tracking-wider font-sans">
                     A New Way to Train in VR
                 </h2>
                 <hr class="mt-4">
                 <p class="text-primary text-left mt-6 tracking-widest leading-8">
                    Effective training requires expensive equipment, generates potential safety hazards, and elongates training time. With Codex, teams can now improve their training by creating, training in and analyzing immersive VR simulations.
                </p>
                <a href="#">
                  <p class="text-center">LEARN MORE ABOUT CODEX</p>
                </a>
             </div>
             <div class="w-2/5 p-12">
                 <img class="object-cover h-full" src="../public/img/vitruve.jpg" alt="">
             </div>
           </section>
      </section>

      <section class="panel">
        <!--==================
         WHY CODEX SECTION
        ==================-->

        <section class="whyBlock h-screen w-full mb-64">

          <!-- TEST CAROUSEL -->


          <section class="text-gray-700 body-font bg-secondary">
            <div class="container px-5 mx-auto">
              <div class="md:flex flex-wrap -m-4 lg:mt-64">
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-48 sm:h-40 w-full object-contain object-center p-4" src="../public/img/turbine.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Personalize Training</h1>
                      <a class="text-xl text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                      <!-- <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden" style="background-color: #6C6C6C; filter: drop-shadow(0 0 0.75rem #827D7D);"> -->
                    <img class="lg:h-48 md:h-48 sm:h-40 w-full object-contain object-center p-4" src="../public/img/jet.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Built for VR</h1>
                      <p class="text-primary text-lg">VR is cheaper, safer, yet as realistic as real equipment.</p>
                      <a class="object-center text-xl text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="./partners.html">See why Codex is better ></a>
                    </div>
                  </div>
                </div>
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-48 sm:h-40 w-full object-contain object-center p-4" src="../public/img/soldier.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Scalable & Relavent</h1>
                      <a class="text-xl text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


        </section>
      </section>

      <section class="panel">
        <!--==================
         PARTNERS SECTION
        ==================-->

        <section class="partnersBlock h-screen w-full mb-64">




          <section class="text-gray-700 body-font bg-secondary">
            <div class="container px-5 mx-auto">
              <div class="md:flex flex-wrap -m-4 lg:mt-64">
                <div id="card" class="card p-4 md:w-1/3  hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-48 sm:h-40 w-full object-contain object-center p-4" src="../public/img/turbine.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Wind Turbines</h1>
                      <a class="text-xl text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                  <!-- <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden" style="background-color: #6C6C6C; filter: drop-shadow(0 0 0.75rem #827D7D);"> -->
                    <img class="lg:h-48 md:h-48 sm:h-40 w-full object-contain object-center p-4" src="../public/img/jet.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Air Craft Maintenance</h1>
                      <p class="text-primary text-lg">VR is cheaper, safer, yet as realistic as real equipment.</p>
                      <a class="text-xl text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="./partners.html">See why Codex is better ></a>
                    </div>
                  </div>
                </div>
                <div id="card" class="card p-4 md:w-1/3 hover:bg-red-800">
                  <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-48 sm:h-40 w-full object-contain object-center p-4" src="../public/img/soldier.png" alt="blog">
                    <div class="p-6">
                      <h1 class="tracking-widest text-2xl title-font font-medium text-primary mb-1 uppercase">Soldier Training</h1>
                      <a class="text-xl text-primary hover:bg-gray-100 hover:opacity-3 hover:text-gray-600" href="./partners.html">click here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </section>
      <section class="panel">
        <!--==================
         SPOTLIGHT SECTION
        ==================-->

        <section class="panel spotlight h-screen w-full">
          <h1 class="text-center text-3xl mt-32 uppercase font-sans font-black">Spotlight</h1>
          <section class="spot-container flex justify-center p-12">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSheppardAirForceBase%2Fvideos%2F558267695076414%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </section>
        </section>
      </section>

      <section class="panel">
        <!--==================
         FOOTER/CONTACT SECTION
        ==================-->

        <section class="panel footer-text h-screen w-full pb-64">
          <section class="contents contact mt-48 p-8">
            <h1 class="text-4xl font-black mb-20">Want to Learn More About VR Training?</h1>
            <a href=./blogs.html"">
              <span class="my-64 border p-2 bg-secondary text-primary text-2xl hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l lg:text-xl">Head over to Our Blogs to Learn more ></span>
            </a>
            <br>
            <br>
            <a href="./contact.html">
              <span class="my-64 p-2 border bg-secondary text-primary text-2xl hover:bg-gray-100 hover:opacity-3 hover:text-gray-600 sm:text-l lg:text-xl">Or Reach Out to Us ></span>
            </a>
          </section>
          <footer class="footer">
            <ul class="p-6">
              <a href="./about.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
              </a>
              <a href="./products.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Solutions</li>
              </a>
              <a href="./partners.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
              </a>
              <a href="./blog.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
              </a>
              <a href="./careers.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
              </a>
              <a href="./contact.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
              </a>
            </ul>
            </footer>
            <section class="footer-logos float-right -my-48 p-12">
              <div class="small-logos flex justify-end">
                <img class="mx-12" src="../public/img/twitter.png" alt="">
                <img src="../public/img/linkedin.png" alt="">
              </div>
              <img src="../public/img/vinci-logo.png" alt="">
            </section>
        </section>
      </section>

      <!-- end of main section container -->
    </section>




<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script src ="../public/js/about.js"></script>
  </body>
</html>
