<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/partners.css">
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <title>PARTNERS</title>
  </head>
  <body>
    <section id = "container">
        <section id="cover" class="text-primary panel background cover overflow-hidden">
         <nav class="w-screen flex justify-between relative z-10 sm:p-4 lg:p-4">
        <a href="#">
          <img class="max-w-xs h-16 sm:w-40 sm:h-auto sm:my-3" src="../public/assets/figma-imgs/vinci-logo.png" alt="vinci logo">
        </a>
        <div class="px-4 cursor-pointer mx-5 my-3 md:hidden">
          <svg class="w-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </div>
        <ul class="flex justify-between sm:hidden md:flex md:text-sm lg:text-l lg:mx-20">
          <a href="/about">
            <li class="uppercase hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
          </a>
          <a href="/products">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Products</li>
          </a>
          <a href="partners">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
          </a>
          <a href="/blog">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
          </a>
          <a href="/careers">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
          </a>
          <a href="/contact">
            <li class="uppercase mx-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
          </a>
        </ul>
        </nav>
          <hr class="-mt-8">
          <h1 class="text-4xl text-left tracking-wider p-4 mt-40 ml-48">PARTNERS</h1>
          <div class="tracking-widest text-left p-4 ml-48">
            <p>See how VINCI is changing </p>
            <p>training today.</p>
          </div>
       </section>
       <section class="flex mb-4 panel background first">
       </section>
       <section class="flex mb-4 panel background first">
       </section>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script src ="../src/js/partners.js"></script>r
  </body>
</html>
