<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/output-styles.css">
    <link rel="stylesheet" href="../public/css/panels.css">
    <link rel="stylesheet" href="../public/css/products.css">
    <title>Vinci VR</title>
  </head>
  <body class="bg-secondary text-primary">
    <section id="container" class="main-wrapper overflow-x-hidden">
      <section class="panel">
        <section class="hero-section h-screen w-full">

          <!--==================
           NAV SECTION
          ==================-->

          <!--==================
           NAV SECTION
          ==================-->

          <nav class="w-screen flex justify-between relative z-10 border-b sm:p-4 lg:p-6">
            <a href="./index.html">
              <img class="max-w-xs h-16 sm:w-40 sm:h-auto sm:my-3" src="../public/assets/figma-imgs/vinci-logo.png" alt="vinci logo">
            </a>
            <div class="px-4 cursor-pointer mx-5 my-3 md:hidden">
              <svg class="w-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </div>
            <ul class="flex justify-between sm:hidden md:flex md:text-sm lg:text-xl lg:mx-32">
              <a href="./about.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
              </a>
              <a href="./products.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Solutions</li>
              </a>
              <a href="./partners.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
              </a>
              <a href="./blog.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
              </a>
              <a href="./careers.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
              </a>
              <a href="./contact.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
              </a>
            </ul>
          </nav>

          <!-- <nav class="w-screen flex justify-between relative z-10 border-b sm:p-4 md:p-4 xlg:text-2xl">
            <a href="./index.html">
              <img class="max-w-xs h-16 sm:w-40 sm:h-auto sm:my-3" src="../public/assets/figma-imgs/vinci-logo.png" alt="vinci logo">
            </a>
            <section class="hamburger-block">
              <div class="hamburger-menu px-4 cursor-pointer mx-5 my-3 lg:hidden">
                <svg class="w-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
              </div>
            </section>

            <ul class="flex justify-between sm:hidden lg:flex md:text-sm lg:text-xl lg:mx-18">
              <a href="./about.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">About</li>
              </a>
              <a href="./products.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Solutions</li>
              </a>
              <a href="./partners.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Partners</li>
              </a>
              <a href="./blog.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Blog</li>
              </a>
              <a href="./careers.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Careers</li>
              </a>
              <a href="./contact.html">
                <li class="uppercase m-5 hover:bg-gray-100 hover:opacity-3 hover:text-gray-600">Contact</li>
              </a>
            </ul>
          </nav> -->

          <section class="w-full p-4 absolute z-1 sm:mt-32 md:-my-84">
            <h1 class="text-center uppercase font-sans font-black -mb-20 -mt-6 p-4 sm:text-4xl md:text-6xl" style="z-index:100;">
              <hr class="mt-4">
              Codex
              <hr class="mt-4">
            </h1>
            <p class="text-center text-lg font-bold sm:mx-12 sm:my-32" style="z-index:100;">Access the entire codex suite or pick and choose which toolkits to use</p>

            <p class="down-arrow sm:text-6xl my-32 text-center">⌄</p>
          </section>

          <!-- <div class="overlay w-full h-screen" style="position:absolute; top:0; left:0;  min-width:100%; min-height:100vh; background-color:rgba(0,0,0,0.3); z-index:0;"></div> -->
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="contents text-lg p-12 bg-secondary lg:py-40">
          <h1 class="text-4xl text-center py-4">Educate Your Workforce Like Never Before</h1>
          <hr class="m-auto w-3/4 py-4 font-thin">
          <section class="md:ml-12">
            <p>
              Instructors face limited time, high costs, and potential hazards during high consequence training. These limitations create a gap between the amount of time/repetitions needed for effective knowledge retention and the available opportunities to train.
            </p>
            <br>
            <p>
              Codex not only brings powerful VR technologies to training, but the full suite of tools brings VR training to a whole new level. Create, train, and analyze simulations on next-gen VR platforms.
            </p>
            <br>
            <p>
              Codex is modular: pick and choose different tools or integrate the entire suite of tools.
            </p>
          </section>
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="authoring lg:flex m-auto p-12 lg:py-40">
          <section class="contents">
            <h1 class="text-3xl font-black uppercase">Codex Authoring</h1>
            <h4 class="text-xl font-bold sm:my-12">Fully Customize Your Simulations</h4>
            <ul>
              <li>
                Fully customize simulations, such as interactions, instructional content, and training manuals as easily as Powerpoint.
              </li>
              <li>
                Create new simulations & training scenarios in a few minutes with codex’s Automated Simulation creator
              </li>
              <li>
                Deploy and store simulations globally on the cloud.
              </li>
            </ul>
          </section>
          <img src="../public/assets/figma-imgs/smartmockups_1.png" alt="codex authoring">
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="simulator lg:flex m-auto p-12 lg:py-40">
          <section class="contents">
            <h1 class="text-3xl font-black uppercase">Codex Simulator</h1>
            <h4 class="text-xl font-bold sm:my-12">Highly Realistic, Interactive VR</h4>
            <ul>
              <li>
                Train in highly Realistic 3D environments of simulations created in Codex Authoring
              </li>
              <li>
                Access multiple training modes automatically created from authoring data, including walkthroughs, performance tests, and scenarios.
              </li>
              <li>
                Utilize pre-existing 3D models or access VINCI’s 3D model library and world class modeling service.
              </li>
            </ul>
          </section>
          <img src="../public/assets/figma-imgs/smartmockups_2.png" alt="codex authoring">
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="analytics lg:flex m-auto p-12 lg:py-40">
          <section class="contents">
            <h1 class="text-3xl font-black uppercase">Codex Analytics</h1>
            <h4 class="text-xl font-bold sm:my-12">Robust Data Analytics</h4>
            <ul>
              <li>
                Live stream multiple student views as they train in VR
              </li>
              <li>
                Review video playbacks with timestamps of errors.
              </li>
              <li>
                Gain insights into individual or classroom performance with data visualization and trend analysis.
              </li>
            </ul>
          </section>
          <img src="../public/assets/figma-imgs/smartmockups_3.png" alt="codex authoring">
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="leverage m-auto p-12 lg:px-12 lg:flex lg:py-48">
          <section class="contents">
            <h1 class="text-3xl font-black uppercase text-center">Why Codex</h1>
            <h2 class="text-2xl font-bold sm:my-8">Leverage low-cost VR
              <hr class="w-3/4 py-4 font-thin">
            </h2>
            <ul>
              <li>
                Realistic training at 10% of the cost physical simulators and enable more than 10X the number of repetitions.
              </li>
              <li>
                Increase hands-on training time by hundreds of hours.
              </li>
              <li>
                Utilize commercially available headsets like the Vive, Index, and Oculus Quest.
              </li>
            </ul>
          </section>
          <img class="lg:w-1/2 pl-4" src="https://images.unsplash.com/photo-1552871847-d81af14f486d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="VR Simulation">
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="leverage m-auto p-12 lg:flex lg:py-48">
          <section class="contents">
            <h1 class="text-3xl font-black uppercase text-center">Why Codex</h1>
            <h2 class="text-2xl font-bold sm:my-8">Personalized and Relevant Content
              <hr class="w-3/4 py-4 font-thin">
            </h2>
            <ul>
              <li>
                Utilize smart insights from codex analytics to tailor training content to individual students.
              </li>
              <li>
                Keep simulations relevant with field conditions quickly with codex authoring.
              </li>
            </ul>
          </section>
          <img class="lg:w-1/2 pl-4" src="https://images.unsplash.com/photo-1592478411213-6153e4ebc07d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="VR simulation">
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="leverage m-auto p-12 lg:flex lg:py-48">
          <section class="contents">
            <h1 class="text-3xl font-black uppercase text-center">Why Codex</h1>
            <h2 class="text-2xl font-bold sm:my-8">Scalable Collaboration
              <hr class="w-3/4 py-4 font-thin">
            </h2>
            <ul>
              <li>
                Enable an ecosystem of content by empowering your team to innovate and create.
              </li>
              <li>
                Create different training objectives in the same environment to scale your library.
              </li>
            </ul>
          </section>
          <img class="lg:w-1/2 pl-4" src="https://images.unsplash.com/photo-1538388149542-5e24932d11a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="Group of people using VR sets at same time">
        </section>
      </section>
      <section class="panel bg-secondary">
        <section class="contact">
          <section class=" bg-center bg-covermb-4 panel background first" style="background-image: url('../public/img/contactbckgrnd.png'">
         <section class="text-gray-700 body-font relative">
           <div class="container px-5 py-24 mx-auto flex sm:flex-no-wrap flex-wrap">
               <div class="bg-opacity-75 lg:w-2/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
                 <h2 class="text-primary text-3xl mb-1 font-medium title-font text-left">Contact VINCI</h2>
                 <hr class="mb-8">
                 <input class="bg-white border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="Name" type="text">
                 <input class="bg-white border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 mt-2" placeholder="Email" type="email">
  ​
                 <textarea class="border focus:outline-none h-32 focus:border-indigo-500 text-base px-8 py-2 mb-4 mt-2 resize-none" placeholder="Message"></textarea>
                 <button class=" mt-2 w-1/3 text-white border-solid border-2 py-2 px-6 focus:outline-none hover:bg-red-600 text-lg">send</button>
                 <p class="text-xs text-gray-500 mt-3">////////////////////////////////////////////////////////////////////</p>
               </div>
  ​
               <div class="lg:w-1/3 md:w-1/2 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-end ml-10 relative bg-content h-56 mt-32 object-cover"
                 <h2></h2>
                 <img  class="" src="../public/img/placeholder.png" alt="">
                 <img  class="mt-20" src="../public/img/placeholder.png" alt="">
               </div>
             </div>
           </section>
         </section>
        </section>
      </section>


      <!-- end of container section -->
    </section>





    <!-- ===============
        SCRIPTS
    =================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <script type="text/javascript" src="../src/panels.js"></script>
  </body>
</html>
