{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<head>
	<link href="/css/store.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body id = "store">

	<p id = "dashboardLogo">V I N C I</p>
	

	<ul class="nav navbar-nav navbar-right" style="color: #FFF !important; margin-top: -2vh">
	
		<li><a href="/" class="inner-link" style="color: #FFF">H O M E</a></li>
	    <li><a href="/login" class="inner-link" style="color: #FFF">L O G I N</a></li>
	    
	</ul>



	<p class = '' id = 'title'>S T O R E</p>
	<p id = "purchase">For purchases, please <a href="mailto:internal.vinci@gmail.com"target='_blank'>contact us.</a></p>

	<div class = 'col-md-6 asset short'>
		<div class = 'imgcontainer mid' id="M4"></div>
		<p class = 'title lefttext'>M4 WEAPON</p>
		<p class = 'description'>Interact with the iconic M4 Carbine - the weapon of choice of the US Armed Forces.  Pull apart some of the assembly of the rifle and reassemble it to understand its structure. Walk around the weapon and pick it up as if it was already built.</p>
		<p class = 'price'>PRICE: $5,000</p>
	</div>

	<div class = 'col-md-6 asset short'>
		<div class = 'imgcontainer mid' id="custom"></div>
		<p class = 'title lefttext'>C U S T O M</p>
		<p class = 'description'>In addition to our core services and applications, VINCI also offers custom model development and virtual simulations development. Contact us to find out how we can work together. </p>
		<p class = 'price'>PRICE: Contingent on Project</p>
	</div>

	<div class = 'col-md-6 asset'>
		<div class = 'imgcontainer' id="engine_iii"></div>
		<p class = 'title'>E N G I N E</p>
		<p class = 'subtitle'>EDITION III : <br> LEAPMOTION</p>
		<p class = 'description'>Our latest generation of our engine demonstration application, this app allows for a dynamic, beautiful suite of functionality never built before. Scale, rotate, and move the engine with simple movements of your controller. Walk around it as if it was already built to inspect the engine from every angle. With one click, you can enter exploded view and see each individual sub component of the engine to gain a thorough understanding of assembly. You can even annotate the engine at specific points and store those annotations for collaborative efforts. </p>
		<p class = 'price'>PRICE: $5,000</p>
	</div>

	<div class = 'col-md-6 asset'>
	<div class = 'imgcontainer' id="studio"></div>
		<p class = 'title'>E N G I N E</p>
		<p class = 'subtitle'>EDITION II</p>
		<p class = 'description'>Interact with the assemblies and functionality of an Engine with your bare hands. Utilizing Leap Motion’s computer vision AI, we scan your hands in real time into a VR environment, making our iconic engine demo now fully interactive with simple touch. Grab assemblies like they were there and put together the engine like a real assembly worker. Contact us for a custom device/specific assembly training for you. </p>
		<p class = 'price'>PRICE: $4,000</p>
	</div>
	<div class = 'col-md-6 asset'>
		<div class = 'imgcontainer' id="engine_i"></div>
		<p class = 'title'>E N G I N E</p>
		<p class = 'subtitle'>EDITION I</p>
		<p class = 'description'>Our Gen 1 Engine demo allows for full assembly and disassembly of a dragster engine. Walk around the engine as if it were already built and inspect every angle of it. Pull each sub assembly out with hand controllers and make copies or delete each sub assembly. Also features our first subassembly disconnector - allowing you to separate out groups of assemblies with a push of a button to understand the fit of each piece like never before. </p>
		<p class = 'price'>PRICE: $3,000</p>
	</div>
	<div class = 'col-md-6 asset'>
		<div class = 'imgcontainer' id="ironman"></div>
		<p class = 'title lefttext'>I R O N M A N</p>
		<p class = 'description'>Interact with a full Iron Man Suit like Tony Stark himself. Pull apart the assembly of the suit and reassemble it to understand its structure. Walk around the suit as if it was already built and interact with it in 1:1 scale.</p>
		<p class = 'price'>PRICE: $3,000</p>
	</div>
	<div class = 'col-md-6 asset'>
		<div class = 'imgcontainer' id="heart"></div>
		<p class = 'title'>H E A R T</p>
		<p class = 'description'>Built for medical simulations and a demonstration at the University of Pennsylvania’s Perelman Center of Advanced Medicine, the heart simulation puts a real scale heart in a beautiful dark room for users to interact with. Users can enter our first exploded view to see each individual piece of the heart. In addition, users can grab individual pieces of the heart to understand how they fit into the larger picture of the organ’s function. </p>
		<p class = 'price'>PRICE: $3,000</p>
	</div>
	<div class = 'col-md-6 asset'>
		<div class = 'imgcontainer' id="starter"></div>
		<p class = 'title lefttext'>S T A R T E R </p>
		<p class = 'subtitle' id='startersubtext'>HARDWARE + INSTRUCTION MATERIALS</p>
		<p class = 'description'>New to VR? Don’t worry, our Hardware and training bundle will take you from zero to fully functional within a week with the latest hardware, setup materials, and training workshops for you. </p>
		<p class = 'price'>PRICE: $2,700</p>
	</div>
	<div class = 'col-md-6 asset'>
		<div class = 'imgcontainer' id="bochair"></div>
		<p class = 'title lefttext'>B O C H A I R</p>
		<p class = 'subtitle' id='multiplatformtext'>MULTIPLATFORM</p>
		<p class = 'description'>Taking another step further, this application is also plugged into our seamless cloud and web portals, allowing users to inspect the chair and annotations on mobile devices via Google Cardboard. 
		<br>
		All this functionality, web-support, a beautiful Bo Chair and studio room in one product. 
		</p>
		<p class = 'price'>PRICE: $4,000</p>
	</div>
	<div class = 'col-md-6 asset'>
	<div class = 'imgcontainer' id="engine_ii"></div>
		<p class = 'title'>S T U D I O</p>
		<p class = 'subtitle' id='environmentsubtext'>ENVIRONMENT BUNDLE</p>
		<p class = 'description'>Get both our beautiful dark studio-room for our BoChair in addition to our newest studio environment in one package. Showcase your products in two environments meticulously designed to give the best experience for your clients. </p>
		<p class = 'price'>PRICE: $1,000</p>
	</div>
</body>