{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<head>
	<link href="/css/store.css" rel="stylesheet" type="text/css" media="all" />
</head>


<body id = "store">
	<p class = '' id = 'title'>T H A N K  Y O U</p>


	<div class = 'col-md-12 asset short'>
		<div class = 'imgcontainer mid' id="M4"></div>
		<p class = 'title'>VR Weapons Pack</p>
		<p class = 'description'>Thank you for purchasing the VR Weapons Pack. An email was sent you with the receipt. </p>
    

	</div>
</body>