body{

}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel{
  border: 1px solid #191919;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  will-change: transform;
}

.coverHr{
  height: 12px;
}

.imgSize1A, .imgSize2A{
  height: 468px;
  width: 330px;
}

.imgSize1A{
  background-image: url("../img/vitruve.jpg");
  background-size: cover;
}


.imgSize2A{
  background-image: url("../img/leo.png");
  background-size: cover;
  }

/* Eventually give all the same class */


.second{
  border: 1px solid transparent;
  background-image: url("../img/gradient.png");
  background-size: cover;
}

.third{
  background: rgba(37, 37, 37, 0.95);
}

#vitruve{
  width: 85%;
}

/*STYLING FOR MODAL IMAGE*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


#myImg:hover {
  opacity: 0.7;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Half width */
  height: 100%;
  /* Half height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.bio{
    border: 1px solid black;
    background: #c4c4c4;
    position: absolute;
    left: 775px;
    top: 175px;
    height: 275px;
    max-height: 300px;
    width: 230px;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


 @media only screen and (min-width: 1400px) {
  .imgSize1A, .imgSize2A{
    height: 702px;
    width: 495px;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }


}
