.mobile-main {
  display: none;
}

@media screen and (max-width: 640px) {
  .main-wrapper {
    display: none !important;
  }

  .mobile-main{
    display: block;
  }


  .first {
    background-color: red;
  }

  .second {
    background-color: green;
  }

.imgSize1{
  width: 90%;
  height: 180px;
  top: 1690px;
  right: 5px;
}

.imgSize2{
width: 90%;
height: 180px;
top: 2510px;
right: 5px;
}

.imgSize3{

  width: 90%;
  height: 180px;
  top: 3360px;
  right: 5px;
}

.imgSize4{
width: 90%;
height: 180px;
top: 4060px;
right: 5px;
}

.imgSize5{
  width: 90%;
  height: 180px;
  top: 4778px;
  right: 5px;
}

.imgSize6{
width: 90%;
height: 180px;
top: 5465px;
right: 5px;
}

.first{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}

.second{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}


.third{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}

.fourth{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}

img.vr-googles{
  position: absolute;
  top:100px;
}

}
@media only screen and (min-width: 1024px){

  #codexTitle{
    margin-top: 16.9rem;
    margin-left: 9.5rem;
  }

 #codexSubtitle{
   margin-left: 9.7rem;
 }

}

@media only screen and (min-width: 1280px){
  #codexTitle{
    margin-top: 16.8rem;
    margin-left: 13.4rem;
  }

  #codexSubtitle{
    margin-left: 13.4rem;
  }
}

@media only screen and (min-width: 1366px){

  #codexTitle {
    margin-top: 16rem;
    margin-left: 14.5rem;
  }

  #codexSubtitle{
    margin-left: 14.5rem;
  }
}

@media only screen and (min-width: 1440px){
  #codexTitle {
    margin-top: 19.7rem;
    margin-left: 15.3rem;
  }
  #codexSubtitle{
    margin-left: 15.3rem;
  }
}

@media only screen and (min-width: 1920px){
  #codexTitle {
    margin-top: 22.2rem;
    margin-left: 21rem;
  }
  #codexSubtitle {
    margin-left: 21rem;
  }
}

@media only screen and (min-width: 1920px) and (min-height: 1200px){
  #codexTitle {
    margin-top: 25rem;
    margin-left: 22rem;
  }

  #codexSubtitle {
    margin-left: 22rem;
  }
}
