.mobile-main {
  display: none;
}

@media screen and (max-width: 640px) {
  .main-wrapper {
    display: none !important;
  }

  .mobile-main{
    display: block;
  }


  .first {
    background-color: red;
  }

  .second {
    background-color: green;
  }

.imgSize1{
  position: absolute;
  width: 90%;
  height: 180px;
  top: 1690px;
  right: 5px;
}

.imgSize2{
position: absolute;
width: 90%;
height: 180px;
top: 2510px;
right: 5px;
}

.imgSize3{
  position: absolute;
  width: 90%;
  height: 180px;
  top: 3360px;
  right: 5px;
}

.imgSize4{
position: absolute;
width: 90%;
height: 180px;
top: 4060px;
right: 5px;
}

.imgSize5{
  position: absolute;
  width: 90%;
  height: 180px;
  top: 4778px;
  right: 5px;
}

.imgSize6{
position: absolute;
width: 90%;
height: 180px;
top: 5465px;
right: 5px;
}

.first{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}

.second{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}


.third{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}

.fourth{
  background: -webkit-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -o-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: -moz-linear-gradient(-110deg, #191919 60%, #191919 40%);
  background: linear-gradient(-110deg, #191919 60%, #191919 40%);
}

img.vr-googles{
  position: absolute;
  top:100px;
}

}
