body{

}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel{
  border: 1px solid #191919;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  will-change: transform;
}
.background{
background-color: #191919;
}
