body{

}

.hero-section {
  background-image: url("../img/partners-hero-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel{
  border: 1px solid #191919;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  will-change: transform;
}
.background{
  background-color: #191919;
}

.first{
      color: #fff;
      background: -webkit-linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://images.unsplash.com/photo-1562361226-6a0a40ef3718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
      background: -o-linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://images.unsplash.com/photo-1562361226-6a0a40ef3718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
      background: -moz-linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://images.unsplash.com/photo-1562361226-6a0a40ef3718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
      background: linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://images.unsplash.com/photo-1562361226-6a0a40ef3718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: ;
      text-align: right;
      object-fit: cover;
}

.second{
      color: #fff;
      background: -webkit-linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: -o-linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: -moz-linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: linear-gradient(-110deg, #191919 60%, rgba(0, 0, 0, 0) 40%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background-size: cover;
    background-position: 50% 20%;
    text-align: right;
}

.third{
  background: -webkit-linear-gradient(110deg, #191919 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #5e5c5c 66%, #191919 66%);
  background: -o-linear-gradient(110deg, #191919 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #5e5c5c 66%, #191919 66%);
  background: -moz-linear-gradient(110deg, #191919 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #5e5c5c 66%, #191919 66%);
  background: linear-gradient(110deg, #191919 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #5e5c5c 66%, #191919 66%);
}

.fourth{
    background: -webkit-linear-gradient(70deg, #191919  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #5e5c5c 60%, #191919 60%);
    background: -o-linear-gradient(70deg, #191919  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #5e5c5c 60%, #191919 60%);
    background: -moz-linear-gradient(70deg, #191919  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #5e5c5c 60%, #191919 60%);
    background: linear-gradient(70deg, #191919  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #5e5c5c 60%, #191919 60%);
}
