.hero-section {
  background-image: url("../assets/figma-imgs/solutions-hero-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


li {
  list-style: initial;
  padding-bottom: 2rem;
}

nav li {
  list-style: none;
}
