.hero-section {
  background-image: url("../img/solutions-hero-img(3).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  list-style: initial;
  padding-bottom: 2rem;
}

nav li {
  list-style: none;
  padding-bottom: 0;
}

.imgSize1, .imgSize2, .imgSize3,
.imgSize4, .imgSize5, .imgSize6{
  background: red;
  background-size: cover;
  border-radius: 1%;
  height:   20rem;
  margin-top:  4.5rem;
  margin-left: 1rem;
  padding-left: 1.5rem;
  width: 45rem;
  overflow: hidden;
}

.imgSize1{
background-image: url("../img/codexscreenshot.JPG");
}

.imgSize2{
  background-image: url("../img/SimulatorScreenshot.png");
}

.imgSize3{
  background-image: url("../img/analyticsscreenshot.png");
}

.imgSize4{
  background-image: url("https://images.unsplash.com/photo-1552871847-d81af14f486d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
  background-size: cover;
}

.imgSize5{
  background-image: url("https://images.unsplash.com/photo-1592478411213-6153e4ebc07d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}

.imgSize6{
  background-image: url("https://images.unsplash.com/photo-1538388149542-5e24932d11a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
}

@media only screen and (min-width: 1024px){

  #codexTitle{
    margin-top: 16.9rem;
    margin-left: 9.5rem;
  }

 #codexSubtitle{
   margin-left: 9.7rem;
 }

}

@media only screen and (min-width: 1280px){
  #codexTitle{
    margin-top: 16.8rem;
    margin-left: 13.4rem;
  }

  #codexSubtitle{
    margin-left: 13.4rem;
  }
}

@media only screen and (min-width: 1366px){

  #codexTitle {
    margin-top: 16rem;
    margin-left: 14.5rem;
  }

  #codexSubtitle{
    margin-left: 14.5rem;
  }
}

@media only screen and (min-width: 1440px){
  #codexTitle {
    margin-top: 19.7rem;
    margin-left: 15.3rem;
  }
  #codexSubtitle{
    margin-left: 15.3rem;
  }
}

@media only screen and (min-width: 1920px){
  #codexTitle {
    margin-top: 22.2rem;
    margin-left: 21rem;
  }
  #codexSubtitle {
    margin-left: 21rem;
  }
}

@media only screen and (min-width: 1920px) and (min-height: 1200px){
  #codexTitle {
    margin-top: 25rem;
    margin-left: 22rem;
  }

  #codexSubtitle {
    margin-left: 22rem;
  }
}



@media only screen and (min-width: 1280px) {

  .imgSize1, .imgSize2, .imgSize3,
  .imgSize4, .imgSize5, .imgSize6{
    background: red;
    background-size: cover;
    border-radius: 1%;
    height:   20rem;
    margin-top:  10rem;
    margin-left: 1rem;
    padding-left: 1.5rem;
    width: 45rem;
    overflow: hidden;
  }

  .imgSize1{
  background-image: url("../img/codexscreenshot.JPG");
  }

  .imgSize2{
    background-image: url("../img/SimulatorScreenshot.png");
  }

  .imgSize3{
    background-image: url("../img/analyticsscreenshot.png");
      margin-top: ;
  }

  .imgSize4{
    background-image: url("https://images.unsplash.com/photo-1552871847-d81af14f486d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
    background-size: cover;
  }

  .imgSize5{
    background-image: url("https://images.unsplash.com/photo-1592478411213-6153e4ebc07d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  }

  .imgSize6{
    background-image: url("https://images.unsplash.com/photo-1538388149542-5e24932d11a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");

  }

}
