@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Spectral';
  font-weight: 400;
  src: url('../fonts/Spectral/Spectral-Regular.ttf');
}
